<script src="{{ 'li_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="product-item_component" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)"><div class="product-item_image-link"><div li-cloak="hide" class="hide w-embed">{% assign colour_map = 'noir:black|noire:black|blanc:white|blanche:white|weiss:white|weiß:white|schwarz:black|crème:cream|gris:grey|grise:grey|grau:grey|bleu:blue|bleue:blue|blau:blue|rouge:red|rot:red|vert:green|verte:green|grün:green|rose:pink|rosa:pink|jaune:yellow|gelb:yellow|orange:orange|violet:purple|violette:purple|lila:purple|marron:brown|braun:brown|navy:navy|ivoire:ivory|elfenbein:ivory|crema:cream|nero:black|nera:black|bianco:white|bianca:white|grigio:grey|grigia:grey|rosso:red|rossa:red|verde:green|azzurro:blue|azzurra:blue|giallo:yellow|gialla:yellow|zwart:black|wit:white|grijs:grey|rood:red|groen:green|blauw:blue|geel:yellow|beige:beige' | split: '|' %}
{% assign colour_css = colour_value | downcase %}
{% for pair in colour_map %}
  {% assign parts = pair | split: ':' %}
  {% if parts[0] == colour_css %}
    {% assign colour_css = parts[1] %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign primary_image = nil %}
{% assign secondary_image = nil %}
{% assign colour_value_lower = colour_value | downcase %}
{% for image in product.images %}
  {% assign image_alt_lower = image.alt | downcase %}
  {% if image_alt_lower contains colour_css or image_alt_lower contains colour_value_lower %}
    {% if primary_image == nil %}
      {% assign primary_image = image %}
    {% elsif secondary_image == nil %}
      {% assign secondary_image = image %}
    {% endif %}
  {% endif %}
{% endfor %}
{% if primary_image == nil %}
  {% assign primary_image = product.images[0] %}
  {% assign secondary_image = product.images[1] %}
{% endif %}</div><a li-object:href=" product.url | append: '?variant=' | append: variant.id" href="{{  product.url | append: '?variant=' | append: variant.id }}" class="product-item_image-wrapper w-inline-block"><img li-object:alt="primary_image.alt" loading="lazy" li-object:src="primary_image | image_url: width: 450" src="{{ primary_image | image_url: width: 450 }}" alt="{{ primary_image.alt }}" class="product-item_image is-primary">
                  {% if secondary_image %}    <div li-if="secondary_image">
    <img li-object:alt="secondary_image.alt" loading="lazy" li-object:src="secondary_image | image_url: width: 450" src="{{ secondary_image | image_url: width: 450 }}" alt="{{ secondary_image.alt }}" class="product-item_image is-secondary">    </div>
{% endif %}
                  </a>
                  <div class="product-item_tag_list">
                    {% if product.selected_or_first_available_variant.available != true %}    <div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
    Not in Stock    </div>
{% endif %}
                    {% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price" class="product-item_tag is-red">
    Sale    </div>
{% endif %}
                  </div>
                </div>
                <div class="spacer-xsmall"></div>
                <a li-object:href="product.url | append: '?variant=' | append: variant.id" href="{{ product.url | append: '?variant=' | append: variant.id }}" class="product-item_text-link w-inline-block">
                  <div class="product-item_details-layout">
                    <div class="product-item_left">
                      <h3 li-object="product.title" class="product-item_title">{{ product.title }}</h3>
                    </div>
                    <div class="product-item_subtitle">
                      {% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price">
    
                        <p li-object="product.compare_at_price | money" class="text-style-strikethrough text-style-muted">{{ product.compare_at_price | money }}</p>
                          </div>
{% endif %}
                      <p li-object="product.price | money">{{ product.price | money }}</p>
                    </div>
                  </div>
                  <div class="product-item_variants-wrapper">
                    {% if product.has_only_default_variant == true %}    <p li-if="product.has_only_default_variant == true" class="product-item_subtitle text-weight-normal hide">
    1 Colour    </p>
{% endif %}
                    <div class="product-header_option-list">
                      <div class="hide w-embed">{% assign color_index = 0 %}
                        {% assign has_colour = true %}
                        {% assign seen_colours = '' %}
                        {% assign colour_map = 'noir:black|noire:black|blanc:white|blanche:white|weiss:white|weiß:white|schwarz:black|crème:cream|gris:grey|grise:grey|grau:grey|bleu:blue|bleue:blue|blau:blue|rouge:red|rot:red|vert:green|verte:green|grün:green|rose:pink|rosa:pink|jaune:yellow|gelb:yellow|orange:orange|violet:purple|violette:purple|lila:purple|marron:brown|braun:brown|navy:navy|ivoire:ivory|elfenbein:ivory|crema:cream|nero:black|nera:black|bianco:white|bianca:white|grigio:grey|grigia:grey|rosso:red|rossa:red|verde:green|azzurro:blue|azzurra:blue|giallo:yellow|gialla:yellow|zwart:black|wit:white|grijs:grey|rood:red|groen:green|blauw:blue|geel:yellow|beige:beige' | split: '|' %}</div>
                      {% if has_colour %}    <div li-if="has_colour" class="product-header_option">
    
                        <div class="product-header_radio-list">
                          {% for variant in product.variants %}    <div li-for="variant in product.variants" class="display-contents">
                                    
                            
                            {% assign colour_value = variant.options[color_index]  %}
                            
                            
                            <div class="display-contents w-embed">{% assign colour_value = variant.options[color_index] %}
                              {% assign colour_css = colour_value | downcase %}
                              {% for pair in colour_map %}
                              {% assign parts = pair | split: ':' %}
                              {% if parts[0] == colour_css %}
                              {% assign colour_css = parts[1] %}
                              {% break %}
                              {% endif %}
                              {% endfor %}</div>
                            
                            
                            {% unless seen_colours contains colour_value %}    <div li-unless="seen_colours contains colour_value">
    
                              {% assign seen_colours = seen_colours | append: colour_value | append: '|' %}
                              <div class="product-header_radio-layout">
                                <div class="product-item_variant-colour" style="background: {{ colour_css }}"></div>
                              </div>
                                </div>
{% endunless %}
                            
                          
                        </div>
{% endfor %}
                        </div>
                          </div>
{% endif %}
                    </div>
                  </div>
                </a>
              </div>
