<div class="padding-global">
          <div class="container-large">
            <div class="product_component">
              <div class="featured-products-component_layout">
                <div id="w-node-fcb9f788-8aa7-977d-a20a-9e1f35e7a95a-87467f30" class="product_heading-wrapper">
                  <div class="product_heading is-grid">
                    <h2 id="w-node-fcb9f788-8aa7-977d-a20a-9e1f35e7a95c-87467f30" class="product-section_heading is-large">
{{ section.settings.text_heading }}
</h2>
                  </div>
                  <a li-object:href="section.settings.collection_collection.url" href="{{ section.settings.collection_collection.url }}" class="product_heading-link w-inline-block"></a>
                </div>
                <div id="w-node-fcb9f788-8aa7-977d-a20a-9e1f35e7a961-87467f30" class="slider-mobile-wrapper">
                  <div class="display-contents-desktop">
                   {{ collection.metafields.custom.featured_product_1 }}
                    <div class="featured-products_layout">
                      <div class="featured-products_item">
                        {% render 'product_item', colour_value: colour_value, product: collection.variants.custom.featured_product_1, variant: variant %}
                      </div>
                      <div class="featured-products_item">
                        {% render 'product_item', colour_value: colour_value, product: featured_product_2, variant: variant %}
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-node-fcb9f788-8aa7-977d-a20a-9e1f35e7a969-87467f30" class="featured-products_collection-link-wrapper is-first">
                  {% assign featured_product = collection.metafields.custom.featured_product.value %}
                  {% assign featured_product_image = collection.metafields.custom.featured_product_image %}
                  {% assign text_colour = collection.metafields.custom.featured_product_text_colour %}
                  <div class="featured-products_collection-link-layout"><img li-object:src="featured_product_image.value | image_url: width: 2000" loading="lazy" alt="" src="{{ featured_product_image.value | image_url: width: 2000 }}" class="featured-products_collection-image">
                    <a li-object:href="featured_product.url" href="{{ featured_product.url }}" class="featured-products_collection-link w-inline-block"></a>
                    <div class="featured-products_heading-wrapper" style="color: {{ text_colour }}">
                      <h2 li-object="featured_product.title" class="featured-products_heading">{{ featured_product.title }}</h2>
                      <p class="featured-products_subheading">Subhead Copy</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Collection Alt Hero",
    "class": "section_product remove-top-padding",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Shoes"
        }
    ],
    "presets": [
        {
            "name": "Collection Alt Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}