<div class="padding-global">
          <div class="container-large">
            <div class="product_component">
              <div class="featured-products-component_layout">
                <a id="w-node-_5751e9a0-9e84-68b1-9599-d2caabd01a2a-feb34c80" href="{{ section.settings.url_button_link }}" class="featured-products_collection-link-wrapper is-left w-inline-block"> {% if section.settings.image_image %} {{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'featured-products_collection-image' }} {% else %} <img loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="featured-products_collection-image"> {% endif %} </a>
                <div id="w-node-c4a1d7d0-419d-da3a-cc7f-a34717f9655f-feb34c80" class="featured-products_side-layout">
                  <div id="w-node-d32497d5-4f49-dd74-17da-248eba915a2c-feb34c80" class="product_heading-wrapper">
                    <div class="product_heading">
                      <h2 id="w-node-_5751e9a0-9e84-68b1-9599-d2caabd01a20-feb34c80" class="product-section_heading">
{{ section.settings.text_heading }}
</h2>
                      <p class="product-section_subheading">
{{ section.settings.text_subheading }}
</p>
                    </div>
                    <a li-object:href="section.settings.collection_collection.url" href="{{ section.settings.collection_collection.url }}" class="product_heading-link w-inline-block"></a>
                  </div>
                  <div class="slider-mobile-wrapper">
                    <div id="w-node-_30dc90a3-34d5-08c1-fd90-61bb843911b0-feb34c80" class="display-contents-desktop w-dyn-list">
                      <div role="list" class="featured-products_layout w-dyn-items">
                        {% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div role="listitem" class="featured-products_item w-dyn-item">
    
                          
    {% render 'product_item', colour_value: colour_value, product: product, variant: variant %}
    
                        
</div>
{% endfor %}
                      </div>
                      <div class="hide w-dyn-empty">
                        <div>No items found.</div>
                      </div>
                    </div>
                  </div>
                  <a li-object:href="section.settings.collection_collection.url" id="w-node-_6559c0f8-0042-93b2-42b4-a73b849e71eb-feb34c80" href="{{ section.settings.collection_collection.url }}" class="cta-text text-align-center">View More</a>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Featured 3",
    "class": "section_product",
    "settings": [
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button-Link"
        },
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Handbags Headline"
        },
        {
            "id": "text_subheading",
            "type": "text",
            "label": "Subheading",
            "default": "Subheading Copy"
        },
        {
            "id": "collection_collection",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "collection_collection_limit",
            "min": 1,
            "max": 99,
            "step": 1,
            "label": "Limit: Collection",
            "default": 6
        }
    ],
    "presets": [
        {
            "name": "Featured 3",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}