<div class="padding-global">
          <div class="container-large">
            <div class="product_component">
              <div id="w-node-f727b04f-0fb7-b1ec-5db9-c7264e4cbfb1-4e4cbfad" class="product_heading-wrapper">
                <div class="product_heading">
                  <h2 class="product-section_heading">
{{ section.settings.text_heading }}
</h2>
                  <p class="product-section_subheading">
{{ section.settings.text_subheading }}
</p>
                </div>
              </div>
              <div class="featured-products-component_layout">
                <a id="w-node-_38ec51fc-5cb6-9c7f-e7ce-d4409a525315-4e4cbfad" href="{{ section.settings.url_button_link }}" class="featured-products_collection-link-wrapper w-inline-block"> {% if section.settings.image_image %} {{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'featured-products_collection-image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="featured-products_collection-image"> {% endif %} <div class="cta-text is-absolute" style="color:{{section.settings.text_color}}">{{ section.settings.text_link_text }}</div> </a>
                <div id="w-node-f727b04f-0fb7-b1ec-5db9-c7264e4cbfb9-4e4cbfad" class="product_list-wrapper w-dyn-list">
                  <div role="list" class="product_list w-dyn-items">
                    {% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div role="listitem" class="product_list-item w-dyn-item">
    
                      
    {% render 'product_item', color_images: {{color_images}}, product: product, variant: {{variant}} %}
    
                    
</div>
{% endfor %}
                  </div>
                  <div class="hide w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Featured products",
    "class": "section_product",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Headline Copy"
        },
        {
            "id": "text_subheading",
            "type": "text",
            "label": "Subheading",
            "default": "Subheading Copy"
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button-Link"
        },
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "id": "text_link_text",
            "type": "text",
            "label": "Link Text",
            "default": "Shop the collection"
        },
        {
            "type": "header",
            "content": "Links"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#000000"
        },
        {
            "id": "collection_collection",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "collection_collection_limit",
            "min": 1,
            "max": 99,
            "step": 1,
            "label": "Limit: Collection",
            "default": 6
        }
    ],
    "presets": [
        {
            "name": "Featured products",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}