<div class="padding-global">
          <div class="container-large">
            <div class="product_component">
              <div class="featured-products-component_layout">
                <div id="w-node-b06785b3-3a3d-9a5d-ff15-cdaadbb6d43e-feb34c80" class="product_heading-wrapper">
                  <div class="product_heading is-grid">
                    <h2 id="w-node-_6327b60e-44ca-c0c8-eaac-83b50b20f8e6-feb34c80" class="product-section_heading is-large">
{{ section.settings.text_heading }}
</h2>
                    <p id="w-node-_6327b60e-44ca-c0c8-eaac-83b50b20f8ea-feb34c80" class="cta-text">
{{ section.settings.text_cta_text }}
</p>
                  </div>
                  <a li-object:href="section.settings.collection_collection.url" href="{{ section.settings.collection_collection.url }}" class="product_heading-link w-inline-block"></a>
                </div>
                <div id="w-node-_12ade119-ddf2-a571-f17d-2b2413af1788-feb34c80" class="slider-mobile-wrapper">
                  <div id="w-node-_85c3723d-2e12-1395-677e-166d97d4d035-feb34c80" class="display-contents-desktop w-dyn-list">
                    <div role="list" class="featured-products_layout w-dyn-items">
                      {% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div role="listitem" class="featured-products_item w-dyn-item">
    
                        
    {% render 'product_item', colour_value: colour_value, product: product, variant: variant %}
    
                      
</div>
{% endfor %}
                    </div>
                    <div class="hide w-dyn-empty">
                      <div>No items found.</div>
                    </div>
                  </div>
                </div>
                <div id="w-node-a96a619b-ba2d-8598-5535-0e3f407f9f82-feb34c80" class="featured-products_collection-link-wrapper is-first">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: li-object: 'section.settings.video | video_tag', loading: 'lazy', class: 'featured-products_collection-image' }}
{% else %}
<img li-object="section.settings.video | video_tag" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" class="featured-products_collection-image">
{% endif %}
                  
                  <div class="cta-text is-absolute">
{{ section.settings.text_cta_image_text }}
</div>
                  <a li-object:href="section.settings.collection_collection.url" href="{{ section.settings.collection_collection.url }}" class="featured-products_collection-link w-inline-block"></a>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Featured 2",
    "class": "section_product remove-top-padding",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Shoes"
        },
        {
            "id": "text_cta_text",
            "type": "text",
            "label": "CTA Text",
            "default": "View More"
        },
        {
            "id": "collection_collection",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "collection_collection_limit",
            "min": 1,
            "max": 99,
            "step": 1,
            "label": "Limit: Collection",
            "default": 6
        },
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "type": "header",
            "content": "Video"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Video"
        },
        {
            "id": "text_cta_image_text",
            "type": "text",
            "label": "CTA Image Text",
            "default": "Shop the collection"
        }
    ],
    "presets": [
        {
            "name": "Featured 2",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}