<div class="padding-global" href="{{ section.settings.url_cta_link }}"> <div class="padding-global" href="{{ section.settings.url_cta_link }}"> <div> <div class="header5_component"> <div class="rl_header5_content"> <h1 class="rl_header5_heading">{{ section.settings.text_heading }}</h1> <p class="cta-text">{{ section.settings.text_cta_text }}</p> </div> </div> </div> </div> </div>
        <a href="{{ section.settings.url_cta_link }}" class="rl_section_link w-inline-block"> </a>{% if section.settings.image_background_image %}
{{ section.settings.image_background_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'rl_section_background-image' }}
{% else %}
<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="rl_section_background-image">
{% endif %} {% schema %} {
    "tag": "header",
    "name": "Featured Wide",
    "class": "rl_section_header5",
    "settings": [
        {
            "id": "url_cta_link",
            "type": "url",
            "label": "CTA Link"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Handbags"
        },
        {
            "id": "text_cta_text",
            "type": "text",
            "label": "CTA Text",
            "default": "Call to action button"
        },
        {
            "id": "image_background_image",
            "type": "image_picker",
            "label": "Background Image"
        }
    ],
    "presets": [
        {
            "name": "Featured Wide",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}