<div class="li-custom w-embed">{% assign ll = page.metafields.nav.left_link_color | default: section.settings.nav_left_link %}
          {% assign lb = page.metafields.nav.left_bg_color | default: section.settings.nav_left_bg %}
          {% assign rl = page.metafields.nav.right_link_color | default: section.settings.nav_right_link %}
          {% assign rb = page.metafields.nav.right_bg_color | default: section.settings.nav_right_bg %}
          {% assign sl = page.metafields.nav.scroll_link_color | default: section.settings.nav_scroll_link %}
          {% assign sb = page.metafields.nav.scroll_bg_color | default: section.settings.nav_scroll_bg %}</div>
        <div data-animation="over-right" class="nav_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="9132635a-7891-b0d1-9b20-ecb0d5a86df9" role="banner" data-duration="400" x-data="" style="--nav-left-link: {{ ll }}; --nav-left-bg: {{ lb }}; --nav-right-link: {{ rl }}; --nav-right-bg: {{ rb }}; --nav-scroll-link: {{ sl }}; --nav-scroll-bg: {{ sb }};">
          <div class="nav_container container-large">
            <div class="nav_dropdown-list-background"></div>
            <div class="nav_dropdown-list-blurred-background"></div>
            <nav role="navigation" id="w-node-_9132635a-7891-b0d1-9b20-ecb0d5a86dfd-d5a86df8" class="nav_menu is-page-height-tablet w-nav-menu">
              <div class="nav-links_layout">
                <div class="mobile-nav_wrapper">
                  <div class="nav_mobile-image-wrapper show-tablet">{% if section.settings.image_mobile_image %}
{{ section.settings.image_mobile_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'nav_mobile-image' }}
{% else %}
<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="nav_mobile-image">
{% endif %}</div>
                  {% for link in linklists[section.settings.menu].links %}    <div li-for="link in linklists[section.settings.menu].links" class="hide-tablet">
                                    
                    
                            {% if link.links.size > 0 %}    <div li-if="link.links.size > 0" class="nav_menu-dropdown">
    
                      <a li-object:href="link.url" href="{{ link.url }}" class="nav_dropdown-toggle w-inline-block">
                        <div class="text-block">Womenswear</div>
                      </a>
                      {% if link.links.size > 0  %}    <div li-if="link.links.size > 0 " class="nav_dropdown-list no-scrollbar">
    
                        <div class="nav_dropdown-list-layout">
                          <div class="padding-global max-width-full">
                            <div class="container-large">
                              <div class="nav_dropdown-grid">
                                {% for child_link in link.links %}    <div li-for="child_link in link.links" id="w-node-_339062b0-bb44-b5ab-1265-6ef95233a0c5-d5a86df8">
                                    
                                  
                            <div class="margin-bottom margin-medium">
                                    <a li-object="child_link.title" li-object:href="child_link.url" href="{{ child_link.url }}" class="nav_dropdown-heading">{{ child_link.title }}</a>
                                  </div>
                            
                                  
                            {% if child_link.links.size > 0 %}    <div li-if="child_link.links.size > 0">
    
                                    {% for grandchild_link in child_link.links %}    <div li-for="grandchild_link in child_link.links">
                                    
                                      
                            <a li-object="grandchild_link.title" li-object:href="grandchild_link.url" href="{{ grandchild_link.url }}" class="nav_dropdown-link_child">{{ grandchild_link.title }}</a>
                            
                                    
                        </div>
{% endfor %}
                                      </div>
{% endif %}
                            
                                
                        </div>
{% endfor %}
                              </div>
                            </div>
                          </div>
                          <a href="{{ section.settings.url_link }}" class="nav_image-wrapper w-inline-block"> {% if section.settings.image_image %} {{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'nav_image' }} {% else %} <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="nav_image"> {% endif %} <p class="nav_image-header">{{ section.settings.text_image_heading }}</p> <p class="nav_image-paragraph">{{ section.settings.text_image_paragraph }}</p> </a>
                        </div>
                          </div>
{% endif %}
                        </div>
{% endif %}
                            
                    
                            {% if link.links.size < 1 %}    <div li-cloak="hide" li-if="link.links.size < 1">
    
                      <a li-object:text="link.title" li-object:href="link.url" href="{{ link.url }}" class="nav_dropdown-toggle">
{{ link.title }}
</a>
                        </div>
{% endif %}
                            
                  
                        </div>
{% endfor %}
                  <div class="mobile-nav-links_wrapper show-tablet">
                    <div li-for:inside="link in linklists[section.settings.menu].links" class="mobile-nav-links_layout">
        {% for link in linklists[section.settings.menu].links %}                            
                      
                            {% if link.links.size > 0 %}    <div li-if="link.links.size > 0" class="mobile-nav-link_wrapper">
    
                        <div class="mobile-nav-link_button">
                          <div li-object="link.title">{{ link.title }}</div><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 4 7" fill="none" class="mobile-nav-link_icon">
                            <path d="M0 0L3.47 3.29L0 6.58" fill="black"></path>
                          </svg>
                          <div class="mobile-nav-link_checkbox-wrapper"><input type="checkbox" id="checkbox-{{link.handle}}" class="mobile-nav-link_checkbox"></div>
                        </div>
                        <div class="mobile-nav-link_panel"><label for="checkbox-{{link.handle}}" class="panel_back-nav-layout">
                            <div class="back-nav_text">
                              <p><</p>
                              <p>Back</p>
                            </div>
                            <p li-object="link.title" class="back-nav_heading">{{ link.title }}</p>
                          </label>
                          <div li-for:inside="child_link in link.links" class="overflow-auto">
        {% for child_link in link.links %}                            
                            
                            {% if child_link.links.size > 0 %}    <div li-if="child_link.links.size > 0" class="mobile-nav-link_wrapper">
    
                              <div class="mobile-nav-link_button">
                                <div li-object="child_link.title">{{ child_link.title }}</div><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 4 7" fill="none" class="mobile-nav-link_icon">
                                  <path d="M0 0L3.47 3.29L0 6.58" fill="black"></path>
                                </svg>
                                <div class="mobile-nav-link_checkbox-wrapper"><input type="checkbox" id="checkbox-{{child_link.handle}}" class="mobile-nav-link_checkbox"></div>
                              </div>
                              <div class="mobile-nav-link_panel"><label for="checkbox-{{child_link.handle}}" class="panel_back-nav-layout">
                                  <div class="back-nav_text">
                                    <p><</p>
                                    <p>Back</p>
                                  </div>
                                  <p li-object="child_link.title" class="back-nav_heading">{{ child_link.title }}</p>
                                </label>
                                <div li-for:inside="grandchild_link in child_link.links" class="overflow-auto">
        {% for grandchild_link in child_link.links %}                            
                                  
                            <div class="mobile-nav-link_wrapper">
                                    <a li-object:href="grandchild_link.url" href="{{ grandchild_link.url }}" class="mobile-nav-link_button w-inline-block">
                                      <div li-object="grandchild_link.title">{{ grandchild_link.title }}</div>
                                    </a>
                                  </div>
                            
                                
                    {% endfor %}    </div>
                              </div>
                                </div>
{% endif %}
                            
                            
                            {% if child_link.links.size < 1 %}    <div li-if="child_link.links.size < 1" class="mobile-nav-link_wrapper">
    
                              <a li-object:href="child_link.url" href="{{ child_link.url }}" class="mobile-nav-link_button w-inline-block">
                                <div li-object="child_link.title">{{ child_link.title }}</div>
                              </a>
                                </div>
{% endif %}
                            
                          
                    {% endfor %}    </div>
                        </div>
                          </div>
{% endif %}
                            
                      
                            {% if link.links.size < 1 %}    <div li-if="link.links.size < 1" class="mobile-nav-link_wrapper">
    
                        <a li-object:href="link.url" href="{{ link.url }}" class="mobile-nav-link_button w-inline-block">
                          <div li-object="link.title">{{ link.title }}</div>
                        </a>
                          </div>
{% endif %}
                            
                    
                    {% endfor %}    </div>
                    <div class="w-embed">
                      <style>
.mobile-nav-link_wrapper:has(input:checked) > .mobile-nav-link_panel{
  transform: translateX(0);
}
</style>
                    </div>
                  </div>
                </div>
                <div class="mobile-nav-links_account-layout show-tablet">
                  <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="button is-secondary w-button">Log In</a>
                  <a href="#" class="button w-button">Register</a>
                </div>
              </div>
            </nav>
            <a href="{{ routes.root_url }}" li-object:href="routes.root_url" id="w-node-_9132635a-7891-b0d1-9b20-ecb0d5a86dfb-d5a86df8" class="nav_logo-link w-nav-brand"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 339 46" fill="none" class="nav_logo">
                <path d="M77.93 30.0198C76.013 33.5164 74.2802 36.431 69.5933 39.5839C67.1104 41.2591 61.9957 43.1562 58.993 43.1453C58.993 43.1453 56.9298 43.1562 55.7141 41.619C54.9938 40.7097 54.4984 39.6569 54.4984 38.2605V21.081H59.9569C60.9668 21.0728 63.753 21.7332 65.2665 23.6465C66.3279 25.0159 67.3108 26.8914 67.327 30.7316H68.4263V11.2598H67.4651C67.3649 14.7915 65.5671 17.5059 63.8288 18.8997C63.114 19.4031 61.6465 20.2068 59.9488 20.2826H54.4984V4.78368C54.4984 2.8135 56.8079 0.919092 59.5968 0.924505C63.4985 0.946155 67.2133 2.15857 69.8586 4.25866C71.9868 5.95279 73.3271 8.60496 74.4805 11.5711H75.3984L74.9517 0.199219H43.3457V0.965099C47.2013 1.27091 47.6643 4.69978 47.6643 5.63616V38.5257C47.6643 39.4594 47.3692 42.4174 43.3457 43.2319V43.987H75.7964L78.8425 30.3148L77.9246 30.0252L77.93 30.0198Z" fill="currentColor"></path>
                <path d="M173.914 8.7105C173.237 6.65643 173.405 5.398 174.401 3.79047C176.109 1.04088 178.766 0.951567 178.766 0.951567V0.199219H160.941V0.967805C160.941 0.967805 163.793 0.515855 166.21 6.79715L179.226 43.9843H180.23L189.853 10.9486L200.779 43.9843H201.848C201.848 43.9843 212.947 13.276 215.562 6.79715C218.083 0.559156 220.931 0.967805 220.931 0.967805V0.199219H209.822V0.951567C211.165 0.997574 212.651 1.28715 213.472 2.20729C215.329 4.28842 213.997 7.56845 213.835 8.05017L204.556 33.2863C203.478 30.0577 193.357 1.98266 192.767 0.199219H192.78H191.773L182.112 33.2863L173.911 8.7105H173.914Z" fill="currentColor" class="wang-character"></path>
                <path d="M139.628 0.199219C139.628 0.199219 127.221 30.9129 124.554 37.3918C124.24 38.1576 123.88 38.8315 123.558 39.4323C122.927 40.458 121.473 42.7908 119.997 43.5026C119.816 43.5973 118.966 43.8192 118.492 43.8111C115.435 43.876 113.599 39.8491 112.343 36.7829L110.578 32.4338C108.309 26.9238 105.612 22.8455 102.352 21.2623C105.328 21.2054 108.008 21.173 110.242 20.085C113.166 18.6534 114.588 15.6386 114.588 11.7686C114.588 8.7538 113.185 5.80124 110.729 3.64974C108.203 1.42787 104.716 0.218163 100.922 0.199219H82.7461V0.965099C86.6017 1.27091 87.0674 4.69978 87.0674 5.63616V38.523C87.0674 39.4567 86.7723 42.4174 82.7461 43.2292V43.987H98.1795V43.2292C94.156 42.4174 93.8608 39.4567 93.8608 38.523V21.3056H96.7309C98.7075 21.3056 99.9828 22.3204 101.951 27.3244L104.599 34.1605C106.205 38.3579 109.787 44.9991 116.488 45.0533H116.502C118.695 45.0533 120.379 44.217 120.777 44.0059L131.659 43.9843V43.2401C130.289 43.1941 127.711 43.0181 126.669 41.8274C124.814 39.7084 126.03 36.6205 126.195 36.1415L129.331 28.3122H144.675L147.304 35.4811C147.981 37.5352 147.813 38.7936 146.816 40.4012C145.108 43.1508 142.454 43.2401 142.454 43.2401V43.9843H159.515V43.2211C159.515 43.2211 156.561 43.6731 154.143 37.3918L140.667 0.199219H139.625H139.628ZM99.953 20.583H93.8581V5.63345C93.8581 5.23292 93.9421 4.38314 94.3374 3.51172C95.7237 0.821666 99.4683 0.989456 99.4683 0.989456C104.475 1.01381 107.54 5.24104 107.556 11.5819C107.556 11.5819 107.651 16.9945 104.507 19.2975C103.392 20.1148 101.632 20.5803 99.9557 20.5803M130.812 24.6018L136.075 11.5792L137.364 8.38845L143.313 24.6018H130.812Z" fill="currentColor"></path>
                <path d="M29.6077 0.199219V0.951567C30.9778 0.997574 32.4913 1.28715 33.3253 2.20729C35.2206 4.28842 33.8614 7.56845 33.6962 8.05017L22.595 35.63C22.0454 34.1821 12.8964 10.0664 12.4415 8.71321C11.7537 6.65643 11.9216 5.40071 12.9397 3.79317C14.6807 1.04358 17.3883 0.954274 17.3883 0.954274V0.199219H0V0.967805C0 0.967805 3.01086 0.515855 5.47479 6.79715C8.16074 13.6522 19.6058 43.9843 19.6058 43.9843H20.3775C20.3775 43.9843 32.8271 13.2923 35.4562 6.79715C37.9147 0.718827 40.9283 0.967805 40.9283 0.967805V0.199219H29.6077Z" fill="currentColor"></path>
                <path d="M282.244 0.199219V0.973218C284.318 1.01652 285.87 1.67144 287.069 2.71336C288.61 4.0611 289.571 6.15847 289.571 9.14892V33.7518L264.962 0.199219H253.874V0.970512C255.336 1.02193 256.712 1.49012 258.006 2.5997C259.232 3.64974 259.628 5.08407 259.628 6.35062V35.0373C259.628 38.0278 258.664 40.1224 257.123 41.4729C255.932 42.5121 254.388 43.1643 252.331 43.213C251.827 43.2076 249.147 42.9126 247.043 37.3918L233.57 0.199219H232.527C232.527 0.199219 217.411 37.4919 217.389 37.5433C217.088 38.247 216.374 39.8843 214.833 41.7895C213.292 43.3916 212.082 43.2238 212.082 43.2238V43.987H224.559V43.2428C223.189 43.1968 220.608 43.0209 219.569 41.8301C217.711 39.7111 218.93 36.6232 219.095 36.1442L222.227 28.3149H237.572L240.203 35.4838C240.878 37.5379 240.712 38.7963 239.713 40.4039C238.005 43.1535 235.349 43.2428 235.349 43.2428V43.987H268.092V43.2184C266.02 43.1751 264.466 42.5202 263.269 41.4783C261.726 40.1305 260.765 38.0332 260.765 35.0427V7.08944L288.791 43.9843H290.708V9.15163C290.708 6.16118 291.672 4.06651 293.213 2.71607C294.41 1.67144 295.964 1.01652 298.035 0.975924V0.199219H282.239H282.244ZM223.717 24.6018L228.978 11.5792L230.269 8.38845L236.218 24.6018H223.717Z" fill="currentColor" class="wang-character"></path>
                <path d="M334.256 28.1292C334.256 27.1955 334.564 24.2348 338.447 23.4229V22.6706H321.289V23.4229C323.29 23.4635 324.985 23.9615 326.141 25.0061C327.627 26.3566 327.592 28.6082 327.592 31.5986V34.2887C327.592 34.2887 327.866 40.8866 322.323 43.0625C316.139 45.4954 311.027 42.8812 307.513 36.3753C304.001 29.872 305.596 14.5409 306.752 10.7819C307.905 7.02012 309.795 1.61566 316.821 1.14476C323.848 0.673866 328.756 7.59656 329.742 9.00653C330.725 10.4165 332.401 12.8035 333.156 14.7303L334.004 14.4408L331.667 0C331.667 0 329.225 1.1177 325.662 1.09334C322.101 1.06628 319.534 0.00811888 316.586 0.178615C313.64 0.349111 309.746 1.25031 305.276 5.48024C300.806 9.71017 298.25 17.599 298.618 24.2835C298.986 30.9681 301.91 37.7582 306.381 41.1546C310.851 44.5482 315.37 45.5415 320.428 44.5997C325.488 43.6606 327.798 41.9367 330.351 41.233C332.905 40.5267 333.395 40.3183 335.433 40.1884L335.458 39.3278C335.458 39.3278 334.248 39.0924 334.248 33.9206V28.1292H334.256Z" fill="currentColor" class="wang-character"></path>
              </svg></a>
            <div id="w-node-_9132635a-7891-b0d1-9b20-ecb0d5a86e10-d5a86df8" class="nav_shop-icons">
              <div class="nav_search">
                <div class="predictive-search_component"><predictive-search>
                    <div class="predictive-search_holder">
                      <div class="predictive-search_form w-form">
                        <form id="wf-form-produkt-suche" name="wf-form-produkt-suche" data-name="produkt-suche" action="/search" method="get" class="predictive-search_form-component" data-wf-page-id="68e64cde361aeb3efeb34c98" data-wf-element-id="ace72904-ccb0-6b8e-3d5e-d5f5ca33919d">
                          <div class="predictive-search_input-holder"><label for="search-input" class="form_hidden-label">Search</label><input type="search" id="search-input" placeholder="Search" name="q" class="predictive-search_input"><input type="submit" data-wait="Please wait..." id="submit-search" class="hide w-button" value="Submit"></div>
                          <div id="predictive-search" class="predictive-search_overflow is-fixed">
                            <div li-section="predictive_search" class="predictive-search_section">
                              {% if predictive_search.performed %}    <div li-if="predictive_search.performed" class="predictive-search_conditional">
    
                                {% assign first_column_results_size = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size | plus: predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size | plus: predictive_search.resources.products.size %}
                                {% if first_column_results_size > 0 %}    <div li-if="first_column_results_size > 0" class="predictive-search_conditional">
    
                                  {% if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %}    <div li-if="predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0" class="predictive-search_topic">
    
                                    <div class="predictive-search_headline">
                                      <div class="text-style-muted">Suggestions</div>
                                    </div>
                                    <ul role="list" class="predictive-search_list w-list-unstyled">
                                      {% for query in predictive_search.resources.queries %}    <li li-for="query in predictive_search.resources.queries" class="predictive-search_item">
                                    
                                        
                            <a li-object:href="query.url" href="{{ query.url }}" class="predictive-search_link w-inline-block">
                                          <div li-object="query.styled_text">{{ query.styled_text }}</div>
                                        </a>
                            
                                      
                        </li>
{% endfor %}
                                      {% for collection in predictive_search.resources.collections %}    <li li-for="collection in predictive_search.resources.collections" class="predictive-search_item">
                                    
                                        
                            <a li-object:href="collection.url" href="{{ collection.url }}" class="predictive-search_link w-inline-block">
                                          <div li-object="collection.title">{{ collection.title }}</div>
                                        </a>
                            
                                      
                        </li>
{% endfor %}
                                    </ul>
                                      </div>
{% endif %}
                                  {% if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    
                                    <div class="predictive-search_headline">
                                      <div class="text-style-muted">Products</div>
                                    </div>
                                    <ul role="list" class="predictive-search_product-list w-list-unstyled">
                                      {% for product in predictive_search.resources.products %}    <li li-for="product in predictive_search.resources.products" class="mini-cart_line-item_item">
                                    
                                        
                            <a li-object:href="product.url" href="{{ product.url }}" class="mini-cart_line-item_item w-inline-block">
                                          <div class="mini-cart_line-item_img"><img li-object:src="product.featured_media | image_url: width: 150" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" src="{{ product.featured_media | image_url: width: 150 }}" loading="lazy" class="predictive-search_image"></div>
                                          <div class="mini-cart_line-item_product-info">
                                            <div class="product-info_layout">
                                              <div class="text-size-regular text-weight-bold"><span li-object="product.title" class="product-info_heading">{{ product.title }}</span></div>
                                              <div class="text-size-small"><span li-object="product.price | money" class="mini-cart_main-text-size text-weight-light">{{ product.price | money }}</span></div>
                                            </div>
                                          </div>
                                        </a>
                            
                                      
                        </li>
{% endfor %}
                                    </ul>
                                      </div>
{% endif %}
                                  {% if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    
                                    <div class="predictive-search_headline">
                                      <div class="text-style-muted">Pages</div>
                                    </div>
                                    <ul role="list" class="predictive-search_list w-list-unstyled">
                                      {% for page in predictive_search.resources.pages %}    <li li-for="page in predictive_search.resources.pages" class="predictive-search_item">
                                    
                                        
                            <a li-object:href="page.url" href="{{ page.url }}" class="predictive-search_link w-inline-block">
                                          <div li-object="page.title">{{ page.title }}</div>
                                        </a>
                            
                                      
                        </li>
{% endfor %}
                                    </ul>
                                      </div>
{% endif %}
                                    </div>
{% endif %}
                                {% if first_column_results_size == 0 %}    <div li-if="first_column_results_size == 0" class="predictive-search_conditional">
    
                                  <div class="predictive-search_topic">
                                    <div class="text-style-muted">Nothing found in "<span li-object="predictive_search.terms">{{ predictive_search.terms }}</span>"</div>
                                  </div>
                                    </div>
{% endif %}
                                  </div>
{% endif %}
                              {% unless predictive_search.performed %}    <div li-unless="predictive_search.performed" class="predictive-search_conditional">
    
                                <div class="predictive-search_overflow">
                                  <div class="predictive-search_topic">
                                    <div class="predictive-search_headline">
                                      <div class="text-style-muted">Suggestions</div>
                                    </div>
                                    <ul role="list" class="predictive-search_list w-list-unstyled">
                                      {% for block in section.blocks %}
    {% if block.type == "search-suggestion" %}
                    <li li-block="Search - Suggestion" class="predictive-search_item">
                                    
                                        
                                    <a href="{{ block.settings.url_link }}" class="predictive-search_link w-inline-block"> <div>{{ block.settings.text_text }}</div> </a>
                                    
                                      
                            </li>
            {% endif %}
{% endfor %}
                                    </ul>
                                  </div>
                                  <div class="predictive-search_topic">
                                    <div class="predictive-search_headline">
                                      <div class="text-style-muted">Bestseller</div>
                                    </div>
                                    <ul role="list" class="predictive-search_product-list w-list-unstyled">
                                      {% for product in section.settings.collection_search_bestseller.products limit: section.settings.collection_search_bestseller_limit %}
<li class="predictive-search_produt-item">
    
                                        
    <a li-object:href="product.url" href="{{ product.url }}" class="mini-cart_line-item_item w-inline-block">
                                          <div class="mini-cart_line-item_img"><img li-object:src="product.featured_image | img_url: 'master'" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | img_url: 'master' }}" loading="lazy" class="predictive-search_image"></div>
                                          <div class="mini-cart_line-item_product-info">
                                            <div class="product-info_layout">
                                              <div class="text-size-regular text-weight-bold"><span li-object="product.title" class="product-info_heading">{{ product.title }}</span></div>
                                              <div class="text-size-small"><span li-object="product.price | money">{{ product.price | money }}</span></div>
                                            </div>
                                          </div>
                                        </a>
    
                                      
</li>
{% endfor %}
                                    </ul>
                                  </div>
                                </div>
                                  </div>
{% endunless %}
                            </div>
                          </div>
                          <div class="nav_predictive-search-close-blur"></div>
                          <div class="nav_predictive-search-close-button"></div>
                        </form>
                        <div class="hide w-form-done">
                          <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="hide w-form-fail">
                          <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                      </div>
                    </div>
                  </predictive-search></div>
                <div li-cloak="hide" class="w-embed w-script">
                  <script>
const input = document.querySelector('#search-input');
const overflow = document.querySelector('.predictive-search_overflow');
const closePanel = document.querySelector('.nav_predictive-search-close-blur');
const closeButton = document.querySelector('.nav_predictive-search-close-button');
function open() {
  overflow.classList.add('is-open');
  closePanel.classList.add('is-open');
}
function close() {
  overflow.classList.remove('is-open');
  closePanel.classList.remove('is-open');
}
input.addEventListener('focus', open);
input.addEventListener('click', (e) => e.stopPropagation());
closePanel.addEventListener('click', close);
closeButton.addEventListener('click', close);
document.addEventListener('keydown', (e) => {
  if (e.key === 'Escape') close();
});
document.addEventListener('click', (e) => {
  if (!overflow.contains(e.target)) close();
});
</script>
                </div>
                <div class="w-embed">
                  <style>
#search-input {
  border: none;
  border-bottom: 1px solid currentColor;
  outline: none;
}
#search-input:focus {
  border-bottom: 2px solid #000;
}
</style>
                </div>
              </div>
              {% if shop.customer_accounts_optional %}    <div li-if="shop.customer_accounts_optional" class="nav_account hide-tablet">
    
                <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="nav_shop-icon w-inline-block">
                  <p class="nav_link-text">Account</p>
                </a>
                  </div>
{% endif %}
              <div class="nav_mini-cart">
                <script>
    document.addEventListener('alpine:init', () => {

    Alpine.data('handleMinicart', () => ({
        init() {
            console.log('handleMinicart init')
        },
        cart: {
            note: null,
            attributes: {},
            items: [],
            currency: window.Shopify.currency.active,
            cart_level_discount_applications: [],
            response: {
                result : {},
                show : false,
                timeout : 5000,
            },
            item_count: 0,
            total_price:0,
            total_weight: 0,
            total_discount: 0,
            original_total_price: 0,
            items_subtotal_price: 0
        },
        _abortController : null,
        initAbortController() {
            if(this._abortController) {
                this._abortController.abort('abort previous request');
            }
            this._abortController = new AbortController()
        },
        getAbortControllerSignal() {
            return this._abortController.signal
        },
        resetAbortController() {
            this._abortController = null;
        },
        toggleMiniCart() {
            console.log('(minicart.js) toggleMiniCart called');

            LiquifyHelper.handleTriggerClick();

            this.getCart();
        },

        /**
         * Get the cart data.
         */
        async getCart() {
            this.initAbortController()
            await fetch(window.Shopify.routes.root + 'cart.js', {
                method: 'GET',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();

                    this.cart.item_count = data.item_count;

                    this.cart.items = data.items.map((item) => {
                        item.title = this.htmlspecialchars_decode(item.title)
                        return item
                    })


                    this.cart.total_price = data.total_price;
                    this.cart.total_weight = data.total_weight;
                    this.cart.total_discount = data.total_discount;
                    this.cart.original_total_price = data.original_total_price;

                    this.$dispatch('carttotalitems', data.item_count);
                    this.$dispatch('currentcartitems', this.cart.items);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        },

        /**
         * @param key
         * @param quantity
         */
        increaseCartItemQuantity(key, quantity) {
            this.updateCartItemQuantity(key, parseInt(quantity) + 1);
        },

        /**
         * @param key
         * @param quantity
         */
        decreaseCartItemQuantity(key, quantity) {
            this.updateCartItemQuantity(key, parseInt(quantity) - 1);
        },

        /**
         * Update the cart item.
         *
         * @param key
         * @param quantity
         */
        updateCartItemQuantity(key, quantity) {
            this.initAbortController();
            console.log('updateCartItemQuantity(): key, quantity: ', key, quantity);
            this.cart.items.filter((product)  => {
                if(product.key === key) {
                    product.quantity = quantity
                }
            })
            let updates = {};
            updates[key] = quantity;
            fetch(window.Shopify.routes.root + 'cart/update.js', {
                method: 'POST',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ updates }),
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();
                    console.log('updateCartItemQuantity(): ', data);

                    this.$dispatch('cartupdated', this.cart.items);
                    this.$dispatch('showcartmessage', { status: data.status, message: data.message, description: data.description });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    this.$dispatch('showcartmessage', { status: error?.status, message: error, description: error });
                });
        },

        /**
         * Format monetary values.
         */
        moneyFormat(value, minor = true) {
            return LiquifyHelper.moneyFormat(value, minor)
        },

        htmlspecialchars_decode(string) {
            return LiquifyHelper.htmlspecialchars_decode(string)
        },

        /**
         * Shows the minicart api message
         * @param event
         */
        showCartMessage(event) {
            if(event?.detail?.status) {
                this.cart.response.result = event.detail ?? {}
                this.cart.response.show = true
                setTimeout(() => {
                    this.cart.response.result = {};
                    this.cart.response.show = false
                }, this.cart.response.timeout ?? 5000)
            }
        },

        async returnCartItems() {
            await this.getCart();

            this.$dispatch('currentcartitems', this.cart.items);
        },

        /**
         * @deprecated
         */
        set open(open) { // deprecated use  LiquifyHelper instead
            //console.warn('Deprecated "set open" in mini_cart')
        },
        /**
         * @deprecated
         */
        get open() { // deprecated use  LiquifyHelper instead
            //console.warn('Deprecated "get open" in mini_cart')
            return false;
        },
        /**
         * @deprecated
         */
        set note(note) { // deprecated
            //console.warn('Deprecated "set note" in mini_cart')
            this.cart.note = note;
        },
        /**
         * @deprecated
         */
        get note() { // deprecated
            //console.warn('Deprecated "get note" in mini_cart')
            return this.cart.note;
        },
        /**
         * @deprecated
         */
        set attributes(attributes) { // deprecated
            //console.warn('Deprecated "set attributes" in mini_cart')
            this.cart.attributes = attributes;
        },
        /**
         * @deprecated
         */
        get attributes() { // deprecated
            //console.warn('Deprecated "get attributes" in mini_cart')
            return this.cart.attributes;
        },
        /**
         * @deprecated
         */
        set original_total_price(original_total_price) { //deprecated
            //console.warn('Deprecated "set original_total_price" in mini_cart')
            this.cart.original_total_price = original_total_price;
        },
        /**
         * @deprecated
         */
        get original_total_price() { //deprecated
            //console.warn('Deprecated "get original_total_price" in mini_cart')
            return this.cart.original_total_price;
        },
        /**
         * @deprecated
         */
        set total_price(total_price) { //deprecated
            //console.warn('Deprecated "set total_price" in mini_cart')
            this.cart.total_price = total_price;
        },
        /**
         * @deprecated
         */
        get total_price() { //deprecated
            //console.warn('Deprecated "get total_price" in mini_cart')
            return this.cart.total_price;
        },
        /**
         * @deprecated
         */
        set total_discount(total_discount) { //deprecated
            //console.warn('Deprecated "set total_discount" in mini_cart')
            this.cart.total_discount = total_discount;
        },
        /**
         * @deprecated
         */
        get total_discount() { //deprecated
            //console.warn('Deprecated "get total_discount" in mini_cart')
            return this.cart.total_discount;
        },
        /**
         * @deprecated
         */
        set total_weight(total_weight) { //deprecated
            //console.warn('Deprecated "set total_weight" in mini_cart')
            this.cart.total_discount = total_weight;
        },
        /**
         * @deprecated
         */
        get total_weight() { //deprecated
            //console.warn('Deprecated "get total_weight" in mini_cart')
            return this.cart.total_weight;
        },
        /**
         * @deprecated
         */
        set item_count(item_count) { //deprecated
            //console.warn('Deprecated "set item_count" in mini_cart')
            this.cart.total_discount = item_count;
        },
        /**
         * @deprecated
         */
        get item_count() { //deprecated
            //console.warn('Deprecated "get item_count" in mini_cart')
            return this.cart.item_count;
        },
        /**
         * @deprecated
         */
        set items_subtotal_price(items_subtotal_price) { //deprecated
            //console.warn('Deprecated "set items_subtotal_price" in mini_cart')
            this.cart.items_subtotal_price = items_subtotal_price;
        },
        /**
         * @deprecated
         */
        get items_subtotal_price() { //deprecated
            //console.warn('Deprecated "get items_subtotal_price" in mini_cart')
            return this.cart.items_subtotal_price;
        },
        /**
         * @deprecated
         */
        set products(products) {
            //console.warn('Deprecated "set products" in mini_cart')
            this.cart.items = products;
        },
        /**
         * @deprecated
         */
        get products() {
            //console.warn('Deprecated "get products" in mini_cart')
            return this.cart.items;
        },
        /**
         * @deprecated
         */
        set requires_shipping(requires_shipping) {
            //console.warn('Deprecated "set requires_shipping" in mini_cart')
        },
        /**
         * @deprecated
         */
        get requires_shipping() {
            //console.warn('Deprecated "get requires_shipping" in mini_cart')
            return false;
        },
        /**
         * @deprecated
         */
        set currency(currency) { //deprecated
            //console.warn('Deprecated "set currency" in mini_cart')
            this.cart.currency = currency;
        },
        /**
         * @deprecated
         */
        get currency() { //deprecated
            //console.warn('Deprecated "get currency" in mini_cart')
            return this.cart.currency;
        },
        /**
         * @deprecated
         */
        set cart_level_discount_applications(cart_level_discount_applications) { //deprecated
            //console.warn('Deprecated "set cart_level_discount_applications" in mini_cart')
            this.cart.cart_level_discount_applications = cart_level_discount_applications;
        },
        /**
         * @deprecated
         */
        get cart_level_discount_applications() { //deprecated
            //console.warn('Deprecated "get cart_level_discount_applications" in mini_cart')
            return this.cart.cart_level_discount_applications;
        },
        /**
         * @deprecated
         */
        set cartApiResponse(cartApiResponse) { //deprecated
            //console.warn('Deprecated "set cartApiResponse" in mini_cart')
            this.cart.cartApiResponse = cartApiResponse;
        },
        /**
         * @deprecated
         */
        get cartApiResponse() { //deprecated
            //console.warn('Deprecated "get cartApiResponse" in mini_cart')
            return this.cart.response;
        },
        /**
         * @deprecated
         */
        set total(total) { //deprecated
            //console.warn('Deprecated "set total" in mini_cart')
            this.cart.item_count = total.items;
            this.cart.total_price = total.price;
            this.cart.total_weight = total.weight;
            this.cart.total_discount = total.discount;
        },
        /**
         * @deprecated
         */
        get total() { //deprecated
            //console.warn('Deprecated "get total" in mini_cart')
            return {
                items: this.cart.item_count,
                price: this.cart.total_price,
                weight: this.cart.total_weight,
                discount: this.cart.total_discount,
            };
        }
    }))


});

</script>
<div data-hover="false" data-delay="500" li-element="mini-cart" class="nav_dropdown w-dropdown" x-data="handleMinicart()" x-init="getCart()" @cartupdated.window="getCart()" @setcartitem.window="updateCartItemQuantity($event.detail.product, $event.detail.quantity)" @increasecartitem.window="increaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @decreasecartitem.window="decreaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @toggleminicart.window="toggleMiniCart()" @showcartmessage.window="showCartMessage" @getcartitems.window="returnCartItems">
                  <div li-element="mini-cart-toggle" class="nav_shop-icon w-dropdown-toggle" @click="$dispatch('cartupdated.window')">
                    <p class="nav_link-text hide-tablet">Cart (<span li-element="mini-cart-item-count" class="nav_shop-quantity" x-data="{ items: 0 }" x-text="items" @carttotalitems.window="items = event.detail">1</span>)</p><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 14 14" fill="none" class="cart-icon show-tablet">
                      <path d="M9.0758 4.19055L9.4958 10.3805H5.0958H0.695801L1.1158 4.19055C1.1258 3.97055 1.3058 3.81055 1.5258 3.81055H8.6658C8.8858 3.81055 9.0658 3.98055 9.0758 4.19055Z" stroke="currentColor" stroke-width="1.3" class="cart-icon_bag"></path>
                      <path d="M6.97582 3.80039V2.53039C6.97582 1.49039 6.13582 0.650391 5.09582 0.650391C4.05582 0.650391 3.21582 1.49039 3.21582 2.53039V3.80039" stroke="currentColor" stroke-width="1.3" class="cart-icon_bag"></path>
                      <circle cx="9.6958" cy="9.65039" r="3.3" fill="currentColor" stroke="white" stroke-width="0.6" class="cart-icon_dot"></circle>
                    </svg>
                  </div>
                  <nav li-element="mini-cart-container" class="nav_mini-cart-holder w-dropdown-list" :class="open || 'mini-cart-closed'">
                    <div li-element="dropdown-toggle" class="nav_mini-cart-close" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"></div>
                    <div class="mini-cart_component">
                      <div li-element="mini-cart-full" class="mini-cart_full" :style="total.items < 1 && { display: 'none' }">
                        <div class="mini-cart_header">
                          <a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="nav_logo-link is-slide-out w-nav-brand"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 339 46" fill="none" class="nav_logo">
                              <path d="M77.93 30.0198C76.013 33.5164 74.2802 36.431 69.5933 39.5839C67.1104 41.2591 61.9957 43.1562 58.993 43.1453C58.993 43.1453 56.9298 43.1562 55.7141 41.619C54.9938 40.7097 54.4984 39.6569 54.4984 38.2605V21.081H59.9569C60.9668 21.0728 63.753 21.7332 65.2665 23.6465C66.3279 25.0159 67.3108 26.8914 67.327 30.7316H68.4263V11.2598H67.4651C67.3649 14.7915 65.5671 17.5059 63.8288 18.8997C63.114 19.4031 61.6465 20.2068 59.9488 20.2826H54.4984V4.78368C54.4984 2.8135 56.8079 0.919092 59.5968 0.924505C63.4985 0.946155 67.2133 2.15857 69.8586 4.25866C71.9868 5.95279 73.3271 8.60496 74.4805 11.5711H75.3984L74.9517 0.199219H43.3457V0.965099C47.2013 1.27091 47.6643 4.69978 47.6643 5.63616V38.5257C47.6643 39.4594 47.3692 42.4174 43.3457 43.2319V43.987H75.7964L78.8425 30.3148L77.9246 30.0252L77.93 30.0198Z" fill="currentColor"></path>
                              <path d="M173.914 8.7105C173.237 6.65643 173.405 5.398 174.401 3.79047C176.109 1.04088 178.766 0.951567 178.766 0.951567V0.199219H160.941V0.967805C160.941 0.967805 163.793 0.515855 166.21 6.79715L179.226 43.9843H180.23L189.853 10.9486L200.779 43.9843H201.848C201.848 43.9843 212.947 13.276 215.562 6.79715C218.083 0.559156 220.931 0.967805 220.931 0.967805V0.199219H209.822V0.951567C211.165 0.997574 212.651 1.28715 213.472 2.20729C215.329 4.28842 213.997 7.56845 213.835 8.05017L204.556 33.2863C203.478 30.0577 193.357 1.98266 192.767 0.199219H192.78H191.773L182.112 33.2863L173.911 8.7105H173.914Z" fill="black" class="wang-character"></path>
                              <path d="M139.628 0.199219C139.628 0.199219 127.221 30.9129 124.554 37.3918C124.24 38.1576 123.88 38.8315 123.558 39.4323C122.927 40.458 121.473 42.7908 119.997 43.5026C119.816 43.5973 118.966 43.8192 118.492 43.8111C115.435 43.876 113.599 39.8491 112.343 36.7829L110.578 32.4338C108.309 26.9238 105.612 22.8455 102.352 21.2623C105.328 21.2054 108.008 21.173 110.242 20.085C113.166 18.6534 114.588 15.6386 114.588 11.7686C114.588 8.7538 113.185 5.80124 110.729 3.64974C108.203 1.42787 104.716 0.218163 100.922 0.199219H82.7461V0.965099C86.6017 1.27091 87.0674 4.69978 87.0674 5.63616V38.523C87.0674 39.4567 86.7723 42.4174 82.7461 43.2292V43.987H98.1795V43.2292C94.156 42.4174 93.8608 39.4567 93.8608 38.523V21.3056H96.7309C98.7075 21.3056 99.9828 22.3204 101.951 27.3244L104.599 34.1605C106.205 38.3579 109.787 44.9991 116.488 45.0533H116.502C118.695 45.0533 120.379 44.217 120.777 44.0059L131.659 43.9843V43.2401C130.289 43.1941 127.711 43.0181 126.669 41.8274C124.814 39.7084 126.03 36.6205 126.195 36.1415L129.331 28.3122H144.675L147.304 35.4811C147.981 37.5352 147.813 38.7936 146.816 40.4012C145.108 43.1508 142.454 43.2401 142.454 43.2401V43.9843H159.515V43.2211C159.515 43.2211 156.561 43.6731 154.143 37.3918L140.667 0.199219H139.625H139.628ZM99.953 20.583H93.8581V5.63345C93.8581 5.23292 93.9421 4.38314 94.3374 3.51172C95.7237 0.821666 99.4683 0.989456 99.4683 0.989456C104.475 1.01381 107.54 5.24104 107.556 11.5819C107.556 11.5819 107.651 16.9945 104.507 19.2975C103.392 20.1148 101.632 20.5803 99.9557 20.5803M130.812 24.6018L136.075 11.5792L137.364 8.38845L143.313 24.6018H130.812Z" fill="currentColor"></path>
                              <path d="M29.6077 0.199219V0.951567C30.9778 0.997574 32.4913 1.28715 33.3253 2.20729C35.2206 4.28842 33.8614 7.56845 33.6962 8.05017L22.595 35.63C22.0454 34.1821 12.8964 10.0664 12.4415 8.71321C11.7537 6.65643 11.9216 5.40071 12.9397 3.79317C14.6807 1.04358 17.3883 0.954274 17.3883 0.954274V0.199219H0V0.967805C0 0.967805 3.01086 0.515855 5.47479 6.79715C8.16074 13.6522 19.6058 43.9843 19.6058 43.9843H20.3775C20.3775 43.9843 32.8271 13.2923 35.4562 6.79715C37.9147 0.718827 40.9283 0.967805 40.9283 0.967805V0.199219H29.6077Z" fill="currentColor"></path>
                              <path d="M282.244 0.199219V0.973218C284.318 1.01652 285.87 1.67144 287.069 2.71336C288.61 4.0611 289.571 6.15847 289.571 9.14892V33.7518L264.962 0.199219H253.874V0.970512C255.336 1.02193 256.712 1.49012 258.006 2.5997C259.232 3.64974 259.628 5.08407 259.628 6.35062V35.0373C259.628 38.0278 258.664 40.1224 257.123 41.4729C255.932 42.5121 254.388 43.1643 252.331 43.213C251.827 43.2076 249.147 42.9126 247.043 37.3918L233.57 0.199219H232.527C232.527 0.199219 217.411 37.4919 217.389 37.5433C217.088 38.247 216.374 39.8843 214.833 41.7895C213.292 43.3916 212.082 43.2238 212.082 43.2238V43.987H224.559V43.2428C223.189 43.1968 220.608 43.0209 219.569 41.8301C217.711 39.7111 218.93 36.6232 219.095 36.1442L222.227 28.3149H237.572L240.203 35.4838C240.878 37.5379 240.712 38.7963 239.713 40.4039C238.005 43.1535 235.349 43.2428 235.349 43.2428V43.987H268.092V43.2184C266.02 43.1751 264.466 42.5202 263.269 41.4783C261.726 40.1305 260.765 38.0332 260.765 35.0427V7.08944L288.791 43.9843H290.708V9.15163C290.708 6.16118 291.672 4.06651 293.213 2.71607C294.41 1.67144 295.964 1.01652 298.035 0.975924V0.199219H282.239H282.244ZM223.717 24.6018L228.978 11.5792L230.269 8.38845L236.218 24.6018H223.717Z" fill="black" class="wang-character"></path>
                              <path d="M334.256 28.1292C334.256 27.1955 334.564 24.2348 338.447 23.4229V22.6706H321.289V23.4229C323.29 23.4635 324.985 23.9615 326.141 25.0061C327.627 26.3566 327.592 28.6082 327.592 31.5986V34.2887C327.592 34.2887 327.866 40.8866 322.323 43.0625C316.139 45.4954 311.027 42.8812 307.513 36.3753C304.001 29.872 305.596 14.5409 306.752 10.7819C307.905 7.02012 309.795 1.61566 316.821 1.14476C323.848 0.673866 328.756 7.59656 329.742 9.00653C330.725 10.4165 332.401 12.8035 333.156 14.7303L334.004 14.4408L331.667 0C331.667 0 329.225 1.1177 325.662 1.09334C322.101 1.06628 319.534 0.00811888 316.586 0.178615C313.64 0.349111 309.746 1.25031 305.276 5.48024C300.806 9.71017 298.25 17.599 298.618 24.2835C298.986 30.9681 301.91 37.7582 306.381 41.1546C310.851 44.5482 315.37 45.5415 320.428 44.5997C325.488 43.6606 327.798 41.9367 330.351 41.233C332.905 40.5267 333.395 40.3183 335.433 40.1884L335.458 39.3278C335.458 39.3278 334.248 39.0924 334.248 33.9206V28.1292H334.256Z" fill="black" class="wang-character"></path>
                            </svg></a><button li-element="dropdown-toggle" aria-label="Close Cart" class="nav_dropdown-close-button" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))">
                            <div class="nav_dropdown-close-icon hide-tablet">Close</div>
                            <div class="nav_dropdown-close-icon show-tablet">X</div>
                          </button>
                        </div>
                        <div class="mini-cart_main-info-layout">
                          <div class="mini-cart_line-item">
                            <ul role="list" class="mini-cart_line-item_list w-list-unstyled">
                              <template x-for="product in products" :key="product.key">
    <li li-element="mini-cart-item" class="mini-cart_line-item_item"><img src="../images/product-apparel-2.svg" loading="lazy" alt="" class="mini-cart_line-item_img" x-bind:src="product.image">
                                <div class="mini-cart_line-item_product-info">
                                  <div class="product-info_wrapper">
                                    <div class="product-info_layout">
                                      <p li-js-object="product.product_title" class="product-info_heading" x-text="product.product_title">Product Title</p>
                                      <div class="mini-cart_line-item_price">
                                        <p li-js-price="product.price" class="mini-cart_main-text-size text-weight-light" x-text="LiquifyHelper.moneyFormat(product.price, true, '{{ shop.money_with_currency_format }}')">14,99 $</p>
                                        <template x-if="product.price < product.original_price">
            <div li-js-if="product.price < product.original_price">
        
                                          <div li-js-price="product.original_price" class="mini-cart_main-text-size text-weight-light text-style-strikethrough text-style-muted" x-text="LiquifyHelper.moneyFormat(product.original_price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>
                                                </div>
    </template>
                                      </div>
                                    </div>
                                    <div class="mini-cart_main-text-size text-color-grey"><span>Colour</span> <span li-js-object="product.options_with_values[0].value" class="text-weight-light" x-text="product.options_with_values[0].value">L</span></div>
                                    <div class="mini-cart_main-text-size text-color-grey"><span>Size</span> <span li-js-object="product.options_with_values[1].value" class="text-weight-light" x-text="product.options_with_values[1].value">L</span></div>
                                  </div>
                                  <div class="mini-cart_line-item_quantity">
                                    <a li-element="mini-cart-item-decrease" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('decreasecartitem', { product: product.key, quantity: product.quantity, action: 'decrease' })">-</a><input li-element="mini-cart-item-quantity" class="mini-cart_line-item_quantity-adjust" value="1" :productprop="product" @input="$dispatch('setcartitem', { product: product.key, quantity: product.quantity })" x-model="product.quantity">
                                    <a li-element="mini-cart-item-increase" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('increasecartitem', { product: product.key, quantity: product.quantity, action: 'increase' })">+</a>
                                  </div>
                                  <a li-element="mini-cart-item-remove" href="#" class="cta-text text-style-muted text-size-small" :productprop="product" @click="$dispatch('setcartitem', { product: product.key, quantity: 0 })">Remove</a>
                                </div>
                              </li></template>
                            </ul>
                          </div>
                          <div class="mini-cart_footer">
                            <div class="mini-cart_footer-total">
                              <div class="mini-cart_main-text-size">Subtotal</div>
                              <div class="mini-cart_footer-price">
                                <div li-js-price="total.price" class="mini-cart_main-text-size" x-text="LiquifyHelper.moneyFormat(total.price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>
                                <template x-if="total.price < original_total_price">
            <div li-js-if="total.price < original_total_price" class="mini-cart_conditional">
        
                                  <div li-js-price="original_total_price" class="mini-cart_main-text-size text-style-strikethrough text-style-muted" x-text="LiquifyHelper.moneyFormat(original_total_price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>
                                        </div>
    </template>
                              </div>
                            </div>
                            <div li-element="mini-cart-api-response" class="mini-cart_footer-message hide">
                              <div class="mini-cart_footer-message-item">
                                <div class="text-size-regular text-weight-bold">Message</div>
                                <div li-js-object="cartApiResponse?.result?.message" class="text-size-regular text-weight-bold" x-text="cartApiResponse?.result?.message">14,99 $</div>
                              </div>
                            </div>
                            <a x-bind:href="'/checkout'" href="#" class="button is-secondary w-button">Checkout</a>
                            <a li-object:href="routes.cart_url" href="{{ routes.cart_url }}" class="button is-secondary hide w-button">Cart</a>
                          </div>
                        </div>
                      </div>
                      <div li-cloak="hide" li-element="mini-cart-empty" class="mini-cart_empty" :style="total.items && { display: 'none' }">
                        <div class="mini-cart_header"><button li-element="dropdown-toggle" aria-label="Close Cart" class="nav_dropdown-close-button" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))">
                            <div class="nav_dropdown-close-icon w-embed"><svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path>
                              </svg></div>
                          </button></div>
                        <div class="mini-cart_empty-content">
                          <div class="text-size-regular">No Products selected</div>
                        </div>
                      </div>
                    </div>
                    <div class="w-embed">
                      <style>
.nav_mini-cart-holder.w--open .nav_logo-link{
  opacity: 100;
}
</style>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
            <div id="w-node-_9132635a-7891-b0d1-9b20-ecb0d5a86e16-d5a86df8" class="nav_menu-button w-nav-button">
              <div data-is-ix2-target="1" class="menu-icon" data-w-id="bd66f913-f0c2-fe18-2745-480ddbbdcedb" data-animation-type="lottie" data-src="{{ 'VW_HAMBURGER.json' | asset_url }}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="0" data-duration="0.52"></div>
            </div>
          </div>
        </div>
        
        
        <div class="hide w-embed">
          <style>
/* &#9472;&#9472; Variables & split background &#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472; */
.nav_component {
  --nav-left-link:   black;
  --nav-left-bg:     white;
  --nav-right-link:  black;
  --nav-right-bg:    white;
  --nav-scroll-link: black;
  --nav-scroll-bg:   white;
  background: linear-gradient(to right, var(--nav-left-bg) 50%, var(--nav-right-bg) 50%);
}
/* &#9472;&#9472; Element colours &#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472; */
.nav_dropdown-toggle          { color: var(--nav-left-link) !important; }
.nav_logo-link                { color: var(--nav-left-link); }
.wang-character               { fill:  var(--nav-right-link); }
.nav_shop-icons               { color: var(--nav-right-link); }
/* &#9472;&#9472; Scrolled &#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472; */
.section_navbar.scrolling .nav_component {
  background: var(--nav-scroll-bg);
}
.section_navbar.scrolling .nav_dropdown-toggle { color: var(--nav-scroll-link) !important; }
.section_navbar.scrolling .nav_logo-link       { color: var(--nav-scroll-link); }
.section_navbar.scrolling .wang-character      { fill:  var(--nav-scroll-link); }
.section_navbar.scrolling .nav_shop-icons      { color: var(--nav-scroll-link); }
/* &#9472;&#9472; Dropdown open overrides &#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472; */
@media (min-width: 992px) {
  .nav_component {
    transition: background 0.3s ease;
  }
  .nav_dropdown-toggle,
  .nav_logo-link,
  .nav_shop-icons {
    transition: color 0.3s ease;
  }
  .wang-character {
    transition: fill 0.3s ease;
  }
  .nav_dropdown-list-blurred-background {
    transition: opacity 0.3s;
  }
  .nav_menu-dropdown {
    position: relative;
  }
  .nav_menu-dropdown .nav_dropdown-list {
    opacity: 0 !important;
    pointer-events: none;
    transition: opacity 0.3s ease;
    transform: translate(0, 0) !important;
  }
  .nav_menu-dropdown.is-hovered .nav_dropdown-list,
  .nav_menu-dropdown.is-open .nav_dropdown-list {
    opacity: 1 !important;
    pointer-events: auto;
  }
  /* Dropdown open &mdash; hardcoded, overrides theme colours */
  .nav_container:has(.nav_menu-dropdown.is-hovered) > .nav_logo-link,
  .nav_container:has(.nav_menu-dropdown.is-open) > .nav_logo-link {
    color: black;
  }
  .nav_container:has(.nav_menu-dropdown.is-hovered) > .nav_shop-icons,
  .nav_container:has(.nav_menu-dropdown.is-open) > .nav_shop-icons {
    color: white;
  }
  .nav_container:has(.nav_menu-dropdown.is-hovered) > .nav_logo-link .wang-character,
  .nav_container:has(.nav_menu-dropdown.is-open) > .nav_logo-link .wang-character {
    fill: white;
  }
  .nav_container:has(.nav_menu-dropdown.is-hovered) > .nav_dropdown-list-blurred-background,
  .nav_container:has(.nav_menu-dropdown.is-open) > .nav_dropdown-list-blurred-background {
    opacity: 1;
  }
  .nav_container:has(.nav_menu-dropdown.is-open) .nav_dropdown-list-background {
    background: white !important;
  }
  .nav_container:has(.nav_menu-dropdown.is-open) .nav_dropdown-list-blurred-background {
    opacity: 1;
    backdrop-filter: blur(8px) grayscale(1) brightness(0.5);
  }
}
/* &#9472;&#9472; Mobile &#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472; */
@media (max-width: 991px) {
  /* On mobile the split collapses &mdash; use left side as the single colour */
  .nav_component {
    background: var(--nav-left-bg);
  }
  .nav_component .nav_logo-link { color: var(--nav-left-link); }
  .nav_component .wang-character { fill: var(--nav-left-link); }
  .nav_component #TOP path,
  .nav_component #BOTTOM path   { fill: var(--nav-left-link) !important; }
  .nav_component .cart-icon_dot {
    fill: var(--nav-left-link) !important;
    stroke: var(--nav-left-bg) !important;
    transition: fill 0.3s ease, stroke 0.3s ease;
  }
  .section_navbar.scrolling .nav_component             { background: var(--nav-scroll-bg); }
  .section_navbar.scrolling .nav_component .nav_logo-link { color: var(--nav-scroll-link); }
  .section_navbar.scrolling .nav_component .wang-character { fill: var(--nav-scroll-link); }
  .section_navbar.scrolling .nav_component #TOP path,
  .section_navbar.scrolling .nav_component #BOTTOM path { fill: var(--nav-scroll-link) !important; }
  .nav_container:has(.nav_menu-dropdown.is-open) .nav_dropdown-list-background {
    background: rgba(0, 0, 0, 0.6) !important;
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .nav_container:has(.nav_menu-dropdown.is-open) .nav_dropdown-list-background {
    background: white !important;
  }
}
/* &#9472;&#9472; Mini-cart &#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472; */
.nav_mini-cart-holder {
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.nav_mini-cart-holder.w--open {
  opacity: 1;
  pointer-events: auto;
}
.nav_mini-cart-holder .mini-cart_component {
  transform: translate(120%);
  transition: transform 0.3s ease-in-out;
}
.nav_mini-cart-holder.w--open .mini-cart_component {
  transform: translate(0%);
}
.nav_mini-cart-holder .nav_logo-link.is-slide-out {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out 0.3s;
}
.nav_mini-cart-holder.w--open .nav_logo-link.is-slide-out {
  opacity: 1 !important;
}
</style>
        </div>
        <div class="hide w-embed w-script">
          <script>
document.querySelectorAll('.nav_menu-dropdown').forEach(dropdown => {
  const toggle = dropdown.querySelector('.nav_dropdown-toggle');
  dropdown.addEventListener('mouseenter', () => dropdown.classList.add('is-hovered'));
  dropdown.addEventListener('mouseleave', () => dropdown.classList.remove('is-hovered'));
  toggle.addEventListener('click', () => {
    const isOpen = dropdown.classList.contains('is-open');
    document.querySelectorAll('.nav_menu-dropdown.is-open').forEach(d => d.classList.remove('is-open'));
    if (!isOpen) dropdown.classList.add('is-open');
  });
  document.addEventListener('click', (e) => {
    if (!dropdown.contains(e.target)) dropdown.classList.remove('is-open');
  });
  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape') dropdown.classList.remove('is-open');
  });
});
</script>
        </div> {% schema %} {
    "tag": "div",
    "name": "Header",
    "class": "section_navbar",
    "blocks": [
        {
            "name": "Search - Suggestion",
            "type": "search-suggestion",
            "settings": [
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                },
                {
                    "id": "text_text",
                    "type": "text",
                    "label": "Text",
                    "default": "Tag"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "image_mobile_image",
            "type": "image_picker",
            "label": "Mobile Image"
        },
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        },
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "id": "text_image_heading",
            "type": "text",
            "label": "Image Heading",
            "default": "AW\/26"
        },
        {
            "id": "text_image_paragraph",
            "type": "text",
            "label": "Image Paragraph",
            "default": "Lorem ipsum dolor sit amet consectetur adipiscing elit Vestibulum elementum elit sit amet dictum tempus"
        },
        {
            "id": "collection_search_bestseller",
            "type": "collection",
            "label": "Search - Bestseller"
        },
        {
            "type": "range",
            "id": "collection_search_bestseller_limit",
            "min": 1,
            "max": 99,
            "step": 1,
            "label": "Limit: Search - Bestseller",
            "default": 6
        },
        {
            "type": "header",
            "content": "Nav Colour"
        },
        {
            "type": "color",
            "id": "nav_left_link",
            "label": "Left links",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "nav_left_bg",
            "label": "Left background",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "nav_right_link",
            "label": "Right links",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "nav_right_bg",
            "label": "Right background",
            "default": "#ffffff"
        },
        {
            "type": "header",
            "content": "Nav \u2014 scrolled state"
        },
        {
            "type": "color",
            "id": "nav_scroll_link",
            "label": "Links (scrolled)",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "nav_scroll_bg",
            "label": "Background (scrolled)",
            "default": "#ffffff"
        },
        {
            "type": "checkbox",
            "id": "nav_scroll_animation",
            "label": "Enable scroll animation",
            "default": true
        },
        {
            "type": "header",
            "content": "Navigation"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
        }
    ],
    "presets": [
        {
            "name": "Header",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "search-suggestion"
                }
            ]
        }
    ],
    "enabled_on": {
        "groups": [
            "*"
        ]
    }
} {% endschema %}