<div class="header_background-image-wrapper is-relative">
          <div class="header_background-image">
            {% if section.settings.video_left %}    <div li-if="section.settings.video_left">
    
              <div li-object="section.settings.video_left | video_tag: controls: true, width: '100%'" class="header_background-image_item social-sign-up_image-wrapper grid-break is-left">{{ section.settings.video_left | video_tag: controls: true, width: '100%' }}</div>
                </div>
{% endif %}
            <div class="cta-text is-absolute" style="color:{{section.settings.text_color}}">
{{ section.settings.text_cta_text }}
</div>
            
            {% unless section.settings.video_left %}    <div li-unless="section.settings.video_left">
    {% if section.settings.image_image_left %}
{{ section.settings.image_image_left | image_url: width: 2000 | image_tag: loading: 'lazy', class: 'header_background-image_item social-sign-up_image-wrapper grid-break is-left' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'header_background-image_item social-sign-up_image-wrapper grid-break is-left' }} 
{% endif %}    </div>
{% endunless %}
            
          </div>
          <div class="header_background-image-right-wrapper">
            {% if section.settings.video_right %}    <div li-if="section.settings.video_right" class="display-contents">
    
              <div li-object="section.settings.video_right | video_tag: controls: true, width: '100%'" class="header_background-image_item is-right">{{ section.settings.video_right | video_tag: controls: true, width: '100%' }}</div>
                </div>
{% endif %}
            {% unless section.settings.video_right %}    <div li-unless="section.settings.video_right" class="display-contents">
    {% if section.settings.image_image_right %}
{{ section.settings.image_image_right | image_url: width: 1500 | image_tag: loading: 'lazy', class: 'header_background-image_item is-right' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'header_background-image_item is-right' }} 
{% endif %}    </div>
{% endunless %}
            
            <div class="header_card text-color-white">
              <div class="max-width-large">
                <div class="header_heading"> {{ section.settings.richtext_paragraph }} </div>
              </div>
            </div>
          </div>
          <a href="{{ section.settings.url_cta_link }}" class="header_link w-inline-block"> </a>
        </div> {% schema %} {
    "tag": "header",
    "name": "Image with Text",
    "class": "section_header-home",
    "settings": [
        {
            "id": "text_cta_text",
            "type": "text",
            "label": "CTA Text",
            "default": "Shop the collection"
        },
        {
            "type": "header",
            "content": "Text Color"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#000000"
        },
        {
            "id": "image_image_left",
            "type": "image_picker",
            "label": "Image Left"
        },
        {
            "type": "header",
            "content": "Video Left"
        },
        {
            "type": "video",
            "id": "video_left",
            "label": "Video Left"
        },
        {
            "id": "image_image_right",
            "type": "image_picker",
            "label": "Image Right"
        },
        {
            "type": "header",
            "content": "Video Right"
        },
        {
            "type": "video",
            "id": "video_right",
            "label": "Video Right"
        },
        {
            "id": "richtext_paragraph",
            "type": "richtext",
            "label": "Paragraph",
            "default": "<p>OUR COLLECTION OF AUTUMN WINTER 26 OUTERWEAR.<br\/>NOW AVAILABLE ONLINE AND IN RETAIL \u2028<\/p>"
        },
        {
            "id": "url_cta_link",
            "type": "url",
            "label": "CTA Link"
        }
    ],
    "presets": [
        {
            "name": "Image with Text",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}