<div li-render-custom-reinit="true" li-render-custom="wrapper" class="product-header_component">
          <script src="{{ 'li_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="w-layout-grid product-header_layout" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
            <div li-render-custom="target" id="w-node-_4b0e9b61-6f53-1185-9fdd-143753136862-5313685d" class="swiper-container is-product-gallery">
              <div class="swiper is-product-gallery">
                {% assign has_variant_media = false %} {% for media in product.media %}   {% if media.alt contains product.selected_or_first_available_variant.option1 %}     {% assign has_variant_media = true %}   {% endif %} {% endfor %} {% assign gallery_count = 0 %} {% for media in product.media %}   {% if has_variant_media %}     {% if media.alt contains product.selected_or_first_available_variant.option1 %}       {% if media.media_type == 'image' or media.media_type == 'video' %}         {% assign gallery_count = gallery_count | plus: 1 %}       {% endif %}     {% endif %}   {% else %}     {% if media.media_type == 'image' or media.media_type == 'video' %}       {% assign gallery_count = gallery_count | plus: 1 %}     {% endif %}   {% endif %} {% endfor %}<div id="my-gallery" li-for:inside="media in product.media" class="swiper-wrapper is-product-gallery">
        {% for media in product.media %}                            {% if has_variant_media == false and media.media_type == 'image' %}    <div li-if="has_variant_media == false and media.media_type == 'image'" class="swiper-slide is-product-gallery">
    <div class="product-header_gallery-lightbox"><img loading="lazy" li-object:src="media | image_url: width: 2000" li-object:alt="media.alt" src="{{ media | image_url: width: 2000 }}" alt="{{ media.alt }}" class="product-header_gallery-image"></div>    </div>
{% endif %}
                            {% if media.alt contains product.selected_or_first_available_variant.option1 and media.media_type == 'image' %}    <div li-if="media.alt contains product.selected_or_first_available_variant.option1 and media.media_type == 'image'" class="swiper-slide is-product-gallery">
    <div class="product-header_gallery-lightbox"><img loading="lazy" li-object:src="media | image_url: width: 2000" li-object:alt="media.alt" src="{{ media | image_url: width: 2000 }}" alt="{{ media.alt }}" class="product-header_gallery-image"></div>    </div>
{% endif %}
                            {% if has_variant_media == false and media.media_type == 'video' %}    <div li-if="has_variant_media == false and media.media_type == 'video'" class="swiper-slide is-product-gallery">
    <div class="product-header_gallery-lightbox"><div li-object="media | video_tag: controls: true" class="product-header_gallery-image">{{ media | video_tag: controls: true }}</div></div>    </div>
{% endif %}
                            {% if media.alt contains product.selected_or_first_available_variant.option1 and media.media_type == 'video' %}    <div li-if="media.alt contains product.selected_or_first_available_variant.option1 and media.media_type == 'video'" class="swiper-slide is-product-gallery">
    <div class="product-header_gallery-lightbox"><div li-object="media | video_tag: controls: true" class="product-header_gallery-image">{{ media | video_tag: controls: true }}</div></div>    </div>
{% endif %}
                    {% endfor %}    </div>{% if gallery_count > 1 %}    <div li-if="gallery_count > 1" class="swiper-pagination_wrapper">
    <div li-for:inside="media in product.media" class="swiper-pagination">
        {% for media in product.media %}                            {% if media.alt contains product.selected_or_first_available_variant.option1 and media.media_type == 'image' %}    <div li-if="media.alt contains product.selected_or_first_available_variant.option1 and media.media_type == 'image'" class="swiper-pagination-bullet">
        </div>
{% endif %}
                            {% if media.alt contains product.selected_or_first_available_variant.option1 and media.media_type == 'video' %}    <div li-if="media.alt contains product.selected_or_first_available_variant.option1 and media.media_type == 'video'" class="swiper-pagination-bullet">
        </div>
{% endif %}
                            {% if has_variant_media == false and media.media_type == 'image' %}    <div li-if="has_variant_media == false and media.media_type == 'image'" class="swiper-pagination-bullet">
        </div>
{% endif %}
                            {% if has_variant_media == false and media.media_type == 'video' %}    <div li-if="has_variant_media == false and media.media_type == 'video'" class="swiper-pagination-bullet">
        </div>
{% endif %}
                    {% endfor %}    </div>    </div>
{% endif %}<div class="w-embed w-script"><script>
function initGallery() {
  ScrollTrigger.getAll()
    .filter(st => st.vars._gallery)
    .forEach(st => st.kill());
  const slides = gsap.utils.toArray('.swiper-slide.is-product-gallery');
  const bullets = gsap.utils.toArray('.swiper-pagination-bullet');
  function setActive(index) {
    bullets.forEach((b, i) => b.classList.toggle('is-active', i === index));
  }
  slides.forEach((slide, i) => {
    ScrollTrigger.create({
      trigger: slide,
      start: 'top center',
      end: 'bottom center',
      onEnter: () => setActive(i),
      onEnterBack: () => setActive(i),
      vars: { _gallery: true },
    });
  });
}
initGallery();
</script></div></div></div><div class="product-details_wrapper"><a id="w-node-_80eb7b15-ebd5-1617-fdfc-2d1ea1dfd0e5-5313685d" href="{{product.collections.first.url}}" class="product-details_backlink-wrapper w-inline-block"><div class="product-details_backlink"><</div><p li-object="product.collections.first.title" class="product-details_backlink">{{ product.collections.first.title }}</p></a><div id="w-node-d1959fe7-fa4d-1046-7a42-2aedfce98ebb-5313685d" class="w-form">{% form 'product', product %}
<div class="product-header_product-details"><div data-cart-animation="hide-on-scroll" class="overflow-hidden is-start show-mobile-landscape"><div class="dynamic-mobile-heading_wrapper"><h1 li-object:text="product.title" class="product-title is-dynamic">
{{ product.title }}
</h1><div class="product-header_price-wrapper is-dynamic"><div li-js-price="product.selected_or_first_available_variant.price" class="product-price" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.price, true, '{{ shop.money_with_currency_format }}')">$55</div><template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
        <div li-js-price="product.selected_or_first_available_variant.compare_at_price" class="product-price text-style-muted text-style-strikethrough" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.compare_at_price, true, '{{ shop.money_with_currency_format }}')">$55</div>        </div>
    </template><div class="product-header_tag-list"><template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price" class="product-item_tag is-red hide">
        Sale        </div>
    </template></div></div></div></div><div><div data-cart-animation="reveal-on-scroll" class="overflow-hidden is-end"><h1 li-object:text="product.title" class="product-title">
{{ product.title }}
</h1></div><div data-cart-animation="reveal-on-scroll" class="overflow-hidden is-end"><div class="product-header_price-wrapper"><div li-js-price="product.selected_or_first_available_variant.price" class="product-price" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.price, true, '{{ shop.money_with_currency_format }}')">$55</div><template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
        <div li-js-price="product.selected_or_first_available_variant.compare_at_price" class="product-price text-style-muted text-style-strikethrough" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.compare_at_price, true, '{{ shop.money_with_currency_format }}')">$55</div>        </div>
    </template><div class="product-header_tag-list hide"><template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price" class="product-item_tag is-red">
        Sale        </div>
    </template></div></div></div></div>{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="product-header_option-list">
    <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div x-bind:class="(option.toLowerCase()==='colour'||option.toLowerCase()==='color') ? 'is-colour-swatch' : ''" li-element="product-options-loop" class="product-header_option" data-ProductVariantsLoop="true"><div x-text="(option.toLowerCase()==='colour'||option.toLowerCase()==='color')   ? option + ': ' + (selected_or_first_available_variant?.options[optionKey] ?? '')   : option + ':'">Variant:</div><div class="product-header_radio-list"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label x-bind:style="(option.toLowerCase()==='colour'||option.toLowerCase()==='color') ? {'--swatch': variantName} : {}" li-element="product-option-loop" class="product-header_radio w-radio"><div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button w-radio-input w--redirected-checked"></div><input li-element="product-option-input" type="radio" style="opacity:0;position:absolute;z-index:-1" checked="" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'"><span x-bind:style="(option.toLowerCase()==='colour'||option.toLowerCase()==='color') ? 'position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0)' : ''" li-element="product-option-name" class="text-size-regular text-weight-light w-form-label" for="radio-6" x-text="variantName" :for="variantName">XS</span></label></template></div></div></template><div class="w-embed"><style>
.product-header_radio input[type="radio"]:checked ~ .text-size-regular {
  font-variation-settings: "wght" 500;
}
</style></div>    </div>
{% endif %}<div data-cart-animation="reveal-on-scroll" class="overflow-hidden is-end show-mobile-landscape"><div class="product-header_description"><div class="margin-vertical margin-small"><div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div></div><div class="product-header_links-layout"><a module-link="product-details" href="#" class="product-header_link cta-text">Product Details</a><a module-link="size-guide" href="#" class="product-header_link cta-text">Size & Fit Guide</a><a module-link="shipping" href="#" class="product-header_link cta-text">Shipping and Returns</a></div></div></div><div class="overflow-hidden"><div class="product-header_add-to-cart-wrapper"><input class="form_input hide w-input" maxlength="256" name="properties[Note]" data-name="Field" placeholder="Note" type="text" id="field"><template x-if="selected_or_first_available_variant.available">
            <div li-js-if="selected_or_first_available_variant.available" class="product-header_buy-wrappper">
        <input class="form_input is-quantity hide w-input" maxlength="256" name="quantity-4" li-element="add-to-cart-quantity" data-name="Quantity 4" placeholder="1" type="number" id="quantity-4" required="" x-model="quantity"><a li-element="add-to-cart" href="#" class="button is-secondary w-button" @click="addToCart($event, true)" :disabled="!addToCartButton">Add to cart</a>        </div>
    </template><template x-if="!selected_or_first_available_variant.available">
            <div li-js-if="!selected_or_first_available_variant.available" class="product-header_out-of-stock">
        <a href="#" class="button is-secondary max-width-full pointer-events-off w-button">Not in Stock</a>        </div>
    </template></div></div><div class="overflow-hidden is-end hide-mobile-landscape"><div class="product-header_description"><div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div><div class="product-header_links-layout"><a module-link="product-details" href="#" class="product-header_link">Product Details</a><a module-link="size-guide" href="#" class="product-header_link">Size & Fit Guide</a><a module-link="shipping" href="#" class="product-header_link">Shipping and Returns</a></div></div></div></div>{% endform %}<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div><div li-cloak="hide" class="w-embed"><style>
.overflow-hidden.is-start > :first-child{
  min-height: 0;
}
.overflow-hidden.is-end > :first-child{
  min-height: 0;
}
.overflow-hidden.is-start{
transition: grid-template-rows 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.overflow-hidden.is-end{
transition: grid-template-rows 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.overflow-hidden.is-end.completed-animation{
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}
.is-colour-swatch .product-header_radio-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--swatch) !important;
  border: 2px solid rgb(160, 160, 160);
  box-shadow: none !important;
}
.is-colour-swatch input:checked ~ .product-header_radio-button,
.is-colour-swatch .w--redirected-checked.product-header_radio-button {
  border: 2px solid black;
}
.is-colour-swatch .product-header_radio-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.is-colour-swatch .product-header_radio {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
}
</style></div><div class="hide w-embed w-script"><script>
document.addEventListener('DOMContentLoaded', () => {
  document.querySelectorAll('[module-link]').forEach(link => {
    link.addEventListener('click', () => {
      const target = link.getAttribute('module-link');
      document.querySelectorAll(`[module="${target}"]`).forEach(wrapper => {
        wrapper.classList.add('is-open');
        wrapper.parentElement.querySelector('.module_background-blur').classList.add('is-open');
        wrapper.querySelector('.nav_logo-link').classList.add('is-open');
      });
    });
  });
  function closeModule(wrapper) {
  wrapper.classList.remove('is-open');
  wrapper.parentElement.querySelector('.module_background-blur').classList.remove('is-open');
  wrapper.querySelector('.nav_logo-link').classList.remove('is-open');
  wrapper.querySelectorAll('.dropdown_list-wrapper, .dropdown_icon-inner.is-top').forEach(el => el.classList.remove('is-open'));
}
  document.querySelectorAll('.slide-out_close-button').forEach(btn => {
    btn.addEventListener('click', () => closeModule(btn.closest('[module]')));
  });
  document.querySelectorAll('.module_background-blur').forEach(blur => {
    blur.addEventListener('click', () => closeModule(blur.parentElement.querySelector('[module]')));
  });
  document.addEventListener('keydown', (e) => {
    if (e.key !== 'Escape') return;
    document.querySelectorAll('[module].is-open').forEach(wrapper => closeModule(wrapper));
  });
});
</script></div><div class="w-embed"><style>
.product-header_option {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.product-header_option.is-colour-swatch {
  flex-direction: column;
  align-items: flex-start;
}
.product-header_option.is-colour-swatch .product-header_radio-list {
  margin-top: 0.25rem;
}
.product-header_option:not(.is-colour-swatch) .product-header_radio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0rem;
}
</style></div></div></div></div><div class="hide w-embed w-script"><!-- <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> -->
<script> /*
function initSwipers() {
  $(".swiper-container").each(function () {
    const container = $(this);
    const mq = window.matchMedia("(max-width: 767px)");
    function createSwiper() {
      return new Swiper(container.find(".swiper.is-product-gallery")[0], {
        direction: "vertical",
        mousewheel: { forceToAxis: true },
        keyboard: { enabled: true, onlyInViewport: true },
        pagination: {
          el: container.find(".swiper-pagination")[0],
          clickable: true,
          direction: "vertical",
        },
        on: {
          reachEnd: () => document.body.style.overflow = "",
          fromEdge: () => document.body.style.overflow = "hidden",
        },
      });
    }
    container
      .on("mouseenter", () => { if (!mq.matches) document.body.style.overflow = "hidden"; })
      .on("mouseleave", () => { if (!mq.matches) document.body.style.overflow = ""; });
    let swiper = mq.matches ? null : createSwiper();
    mq.addEventListener("change", () => {
      if (mq.matches) {
        swiper.destroy(true, true);
        container.find(".swiper-pagination").empty();
        document.body.style.overflow = "";
        swiper = null;
      } else {
        swiper = createSwiper();
      }
    });
  });
}
document.addEventListener("DOMContentLoaded", initSwipers);
document.addEventListener("liquify:custom-rendered", initSwipers);
*/
document.addEventListener("DOMContentLoaded", () => {
  document.addEventListener("change", (e) => {
    const input = e.target.closest('[li-element="product-option-input"]');
    if (!input) return;
    const wrapper = input.closest('[li-render-custom="wrapper"]');
    if (!wrapper) return;
    const alpineData = Alpine.$data(wrapper.querySelector('[x-data]') || wrapper);
    const variantId = alpineData?.selected_or_first_available_variant?.id;
    if (!variantId) return;
    const target = wrapper.querySelector('[li-render-custom="target"]');
    if (!target) return;
    const sectionId = input.closest('form')?.querySelector('[name="section-id"]')?.value;
    const productUrl = window.location.pathname;
    fetch(`${productUrl}?section_id=${sectionId}&variant=${variantId}`)
      .then(r => r.text())
      .then(html => {
        const doc = new DOMParser().parseFromString(html, "text/html");
        const newTarget = doc.querySelector('[li-render-custom="target"]');
        if (newTarget) {
          target.innerHTML = newTarget.innerHTML;
          initGallery();
        }
      });
  });
});
</script></div> {% schema %} {
    "tag": "section",
    "name": "Product Hero",
    "class": "section_product-header",
    "presets": [
        {
            "name": "Product Hero",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "product"
        ]
    }
} {% endschema %}