<div li-render-custom-reinit="true" li-render-custom="wrapper" class="product-header_component">
          <script src="{{ 'li_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="w-layout-grid product-header_layout" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
            <div li-render-custom="target" id="w-node-_4b0e9b61-6f53-1185-9fdd-143753136862-5313685d" class="swiper-container is-product-gallery">
              <div class="swiper is-product-gallery">
                <div id="my-gallery" li-for:inside="media in product.media" class="swiper-wrapper is-product-gallery">
        {% for media in product.media %}                            
                  
                            {% if media.media_type == 'image' %}    <div li-if="media.media_type == 'image'" class="swiper-slide is-product-gallery">
    
                    <div class="product-header_gallery-lightbox"><img loading="lazy" li-object:src="media | image_url: width: 2000" li-object:alt="media.alt" src="{{ media | image_url: width: 2000 }}" alt="{{ media.alt }}" class="product-header_gallery-image"></div>
                      </div>
{% endif %}
                            
                  
                            {% if media.media_type == 'video' %}    <div li-if="media.media_type == 'video'" class="swiper-slide is-product-gallery">
    
                    <div class="product-header_gallery-lightbox">
                      <div li-object="media | video_tag: controls: true" class="product-header_gallery-image">{{ media | video_tag: controls: true }}</div>
                    </div>
                      </div>
{% endif %}
                            
                
                    {% endfor %}    </div>
                <div class="swiper-pagination_wrapper">
                  <div li-for:inside="media in product.media" class="swiper-pagination">
        {% for media in product.media %}                            
                    
                            {% if media.media_type == 'image' %}    <div li-if="media.media_type == 'image'" class="swiper-pagination-bullet">
        </div>
{% endif %}
                            
                    
                            {% if media.media_type == 'video' %}    <div li-if="media.media_type == 'video'" class="swiper-pagination-bullet">
        </div>
{% endif %}
                            
                  
                    {% endfor %}    </div>
                </div>
                <div class="w-embed w-script">
                  <script>
function initGallery() {
  ScrollTrigger.getAll()
    .filter(st => st.vars._gallery)
    .forEach(st => st.kill());
  const slides = gsap.utils.toArray('.swiper-slide.is-product-gallery');
  const bullets = gsap.utils.toArray('.swiper-pagination-bullet');
  if (!slides.length) return;
  function getActiveIndex() {
    const mid = window.innerHeight / 2;
    let closest = 0, minDist = Infinity;
    slides.forEach((slide, i) => {
      const { top, bottom } = slide.getBoundingClientRect();
      const dist = Math.abs((top + bottom) / 2 - mid);
      if (dist < minDist) { minDist = dist; closest = i; }
    });
    return closest;
  }
  function setActive(index) {
    bullets.forEach((b, i) => b.classList.toggle('is-active', i === index));
  }
  ScrollTrigger.create({
    trigger: slides[0],
    endTrigger: slides[slides.length - 1],
    start: 'top bottom',
    end: 'bottom top',
    onUpdate: () => setActive(getActiveIndex()),
    onToggle: () => setActive(getActiveIndex()),
    vars: { _gallery: true },
  });
  setActive(getActiveIndex());
}
initGallery();
</script>
                </div>
              </div>
            </div>
            <div x-cloa="hide" class="product-details_wrapper">
              {% if product.collections.first %}    <div li-if="product.collections.first" id="w-node-_81a83675-6f8d-ed5a-3553-4f9fcfc84cb7-5313685d">
    
                <a href="{{ collection.url | default: product.collections.first.url }}" class="product-details_backlink-wrapper w-inline-block">
                  <div class="product-details_backlink"><</div>
                  <p li-object="collection.title | default: product.collections.first.title" class="product-details_backlink">{{ collection.title | default: product.collections.first.title }}</p>
                </a>
                  </div>
{% endif %}
              <div id="w-node-d1959fe7-fa4d-1046-7a42-2aedfce98ebb-5313685d" class="w-form">
                {% form 'product', product %}
<div class="product-header_product-details">
                    <div data-cart-animation="hide-on-scroll" class="overflow-hidden is-start show-mobile-landscape">
                      <div class="dynamic-mobile-heading_wrapper">
                        <h1 li-object:text="product.title" class="product-title is-dynamic">
{{ product.title }}
</h1>
                        <div class="product-header_price-wrapper is-dynamic">
                          <div li-js-price="product.selected_or_first_available_variant.price" class="product-price" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.price, true, '{{ shop.money_with_currency_format }}')">$55</div>
                          <template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
        
                            <div li-js-price="product.selected_or_first_available_variant.compare_at_price" class="product-price text-style-muted text-style-strikethrough" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.compare_at_price, true, '{{ shop.money_with_currency_format }}')">$55</div>
                                  </div>
    </template>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div data-cart-animation="reveal-on-scroll" class="overflow-hidden is-end">
                        <h1 li-object:text="product.title" class="product-title">
{{ product.title }}
</h1>
                      </div>
                      <div data-cart-animation="reveal-on-scroll" class="overflow-hidden is-end">
                        <div class="product-header_price-wrapper">
                          <div li-js-price="product.selected_or_first_available_variant.price" class="product-price" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.price, true, '{{ shop.money_with_currency_format }}')">$55</div>
                          <template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
        
                            <div li-js-price="product.selected_or_first_available_variant.compare_at_price" class="product-price text-style-muted text-style-strikethrough" x-text="LiquifyHelper.moneyFormat(product.selected_or_first_available_variant.compare_at_price, true, '{{ shop.money_with_currency_format }}')">$55</div>
                                  </div>
    </template>
                          <div class="product-header_tag-list hide">
                            <template x-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price">
            <div li-js-if="product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price" class="product-item_tag is-black">
        Sale        </div>
    </template>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% if product.metafields.custom.alternate_colour_products != blank %}    <div li-if="product.metafields.custom.alternate_colour_products != blank" class="product-header_option is-colour-swatch">
    
                      <div>
                        <div li-object="product.metafields.custom.colour_name | prepend: 'Colour: '">{{ product.metafields.custom.colour_name | prepend: 'Colour: ' }}</div>
                      </div>
                      <div class="product-header_radio-list">
                        {% for colour_product in product.metafields.custom.alternate_colour_products.value %}    <a li-for="colour_product in product.metafields.custom.alternate_colour_products.value" href="{{ colour_product.url }}" style="--swatch: {{ colour_product.metafields.custom.colour_hex }}" class="product-header_radio">
                                    
                          
                            <div class="product-header_radio-button"></div>
                            
                        
                        </a>
{% endfor %}
                      </div>
                        </div>
{% endif %}
                    {% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="product-header_option-list">
    
                      <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div x-bind:data-option="option" li-element="product-options-loop" x-bind:class="(option.toLowerCase()==='colour'||option.toLowerCase()==='color') ? 'is-colour-swatch' : ''" class="product-header_option" data-ProductVariantsLoop="true">
                        <div x-text="(option.toLowerCase()==='colour'||option.toLowerCase()==='color')   ? option + ': ' + (selected_or_first_available_variant?.options[optionKey] ?? '')   : option + ':'">Variant:</div>
                        <div class="product-header_radio-list"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label x-bind:style="(option.toLowerCase()==='colour'||option.toLowerCase()==='color') ? {'--swatch': (window.colourHexMap?.[variantName] || variantName)} : {}" li-element="product-option-loop" class="product-header_radio w-radio">
                            <div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button w-radio-input"></div><input type="radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'"><span x-bind:style="(option.toLowerCase()==='colour'||option.toLowerCase()==='color') ? 'position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0)' : ''" li-element="product-option-name" class="text-size-small text-weight-light w-form-label" for="radio-6" x-text="variantName" :for="variantName">XS</span><span x-text="(option||'').toLowerCase()==='size' && typeof firstOptionHasAvailableChildren !== 'undefined' && firstOptionHasAvailableChildren && !firstOptionHasAvailableChildren[variantName] ? 'Sold Out - Notify Me' : ''" x-bind:class="(option||'').toLowerCase()==='size' && typeof firstOptionHasAvailableChildren !== 'undefined' && firstOptionHasAvailableChildren && !firstOptionHasAvailableChildren[variantName] ? 'is-sold-out' : ''" class="product-header_status-badge"></span>
                          </label></template></div>
                      </div></template>
                      <div class="w-embed">
                        <style>
.product-header_radio input[type="radio"]:checked ~ .text-size-regular {
  font-variation-settings: "wght" 500;
}
</style>
                      </div>
                        </div>
{% endif %}
                    <div data-cart-animation="reveal-on-scroll" class="overflow-hidden is-end show-mobile-landscape">
                      <div class="product-header_description">
                        <div class="margin-vertical margin-small">
                          <div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div>
                        </div>
                        <div class="product-header_links-layout">
                          <a module-link="product-details" href="#" class="product-header_link cta-text">Product Details</a>
                          <a module-link="size-guide" href="#" class="product-header_link cta-text">Size & Fit Guide</a>
                          <a module-link="shipping" href="#" class="product-header_link cta-text">Shipping and Returns</a>
                        </div>
                      </div>
                    </div>
                    <div class="overflow-hidden">
                      <div class="product-header_add-to-cart-wrapper"><input class="form_input hide w-input" li-object:value="product.metafields.custom.colour_name" maxlength="256" name="properties[_colour_name]" data-name="Field" placeholder="Colour Name" type="text" id="field" value="{{ product.metafields.custom.colour_name }}"><input class="form_input hide w-input" maxlength="256" name="properties[Note]" data-name="Field" placeholder="Note" type="text" id="field">
                        <template x-if="selected_or_first_available_variant.available">
            <div li-js-if="selected_or_first_available_variant.available" class="product-header_buy-wrappper">
        <input class="form_input is-quantity hide w-input" maxlength="256" name="quantity-4" li-element="add-to-cart-quantity" data-name="Quantity 4" placeholder="1" type="number" id="quantity-4" required="" x-model="quantity">
                          <a x-text="(() => { var i = (product.options||[]).findIndex(o => (o||'').toLowerCase()==='size'); var v = i>=0 ? selected_or_first_available_variant?.options?.[i] : null; var isMobile = typeof window !== 'undefined' && window.matchMedia && window.matchMedia('(max-width: 767px)').matches; return v && isMobile ? 'Add to cart - ' + v : 'Add to cart'; })()" li-element="add-to-cart" href="#" class="button is-secondary w-button" @click="addToCart($event, true)" :disabled="!addToCartButton">Add to cart</a>
                          <a data-select-size="" href="#" class="button is-secondary show-mobile-landscape">Select size</a>
                                </div>
    </template>
                        <template x-if="!selected_or_first_available_variant.available">
            <div li-js-if="!selected_or_first_available_variant.available" class="product-header_out-of-stock">
        
                          <a href="#" class="button is-secondary max-width-full pointer-events-off w-button">Not in Stock</a>
                                </div>
    </template>
                      </div>
                    </div>
                    <div class="overflow-hidden is-end hide-mobile-landscape">
                      <div class="product-header_description">
                        <div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div>
                        <div class="product-header_links-layout">
                          <a module-link="product-details" href="#" class="product-header_link">Product Details</a>
                          <a li-attributes:onclick="window.SmartRecomSizeChart.openModal()" module-link="size-guide" href="#" class="product-header_link">Size & Fit Guide</a>
                          <a module-link="shipping" href="#" class="product-header_link">Shipping and Returns</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-drawer="size-picker" class="size-picker_wrapper">
                    <div data-drawer-backdrop="" class="size-picker_backdrop"></div>
                    <div class="size-picker_panel">
                      <div class="size-picker_header"><span>SELECT SIZE</span>
                        <a aria-label="Close size picker" data-drawer-close="" href="#" class="size-picker_close">×</a>
                      </div>
                      <div class="size-picker_subheader">
                        <a href="#" module-link="size-guide" data-drawer-close="" class="size-picker_size-guide">SIZE GUIDE</a>
                      </div>
                      <div data-drawer-slot="" class="size-picker_slot"></div>
                    </div>
                  </div>
                {% endform %}
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div li-cloak="hide" class="w-embed">
                <style>
.nm-wishlist-button {
  font-size: 0;
    margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 100%;
}
.nm-wishlist-button div {
  gap: 0 !important;
}
.nm-wishlist-button svg {
  font-size: initial;
}
.overflow-hidden.is-start > :first-child{
  min-height: 0;
}
.overflow-hidden.is-end > :first-child{
  min-height: 0;
}
.overflow-hidden.is-start{
transition: grid-template-rows 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.overflow-hidden.is-end{
transition: grid-template-rows 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.overflow-hidden.is-end.completed-animation{
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}
.is-colour-swatch .product-header_radio-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--swatch) !important;
  border: 1px solid rgb(160, 160, 160);
  box-shadow: none !important;
}
.is-colour-swatch input:checked ~ .product-header_radio-button,
.is-colour-swatch .w--redirected-checked.product-header_radio-button {
  border: 1px solid black;
}
.is-colour-swatch .product-header_radio-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.is-colour-swatch .product-header_radio {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
}
.swiper-pagination-bullet{
  background: black;
  opacity: 1 !important;
}
.swiper-pagination-bullet.is-active{
  background: white;
  border-color: black;
}
</style>
              </div>
              <div class="hide w-embed">
                <style>
.slide-out_wrapper.is-open .wang-character {
  fill: black !important;
}
/* &#9472;&#9472; Slide-out module logo swap &#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472; 
body:has([module].is-open) .nav_logo-link:not(.is-slide-out) {
  opacity: 0;
  transition: opacity 0.3s ease;
}
body:has([module].is-open) .nav_logo-link.is-slide-out {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}
  */
</style>
              </div>
              <div class="hide w-embed w-script">
                <script>
document.addEventListener('DOMContentLoaded', () => {
  document.querySelectorAll('[module-link]').forEach(link => {
    link.addEventListener('click', () => {
      const target = link.getAttribute('module-link');
      document.querySelectorAll(`[module="${target}"]`).forEach(wrapper => {
        wrapper.classList.add('is-open');
        wrapper.parentElement.querySelector('.module_background-blur').classList.add('is-open');
        wrapper.querySelector('.nav_logo-link').classList.add('is-open');
      });
    });
  });
  function closeModule(wrapper) {
  wrapper.classList.remove('is-open');
  wrapper.parentElement.querySelector('.module_background-blur').classList.remove('is-open');
  wrapper.querySelector('.nav_logo-link').classList.remove('is-open');
  wrapper.querySelectorAll('.dropdown_list-wrapper, .dropdown_icon-inner.is-top').forEach(el => el.classList.remove('is-open'));
}
  document.querySelectorAll('.slide-out_close-button').forEach(btn => {
    btn.addEventListener('click', () => closeModule(btn.closest('[module]')));
  });
  document.querySelectorAll('.module_background-blur').forEach(blur => {
    blur.addEventListener('click', () => closeModule(blur.parentElement.querySelector('[module]')));
  });
  document.addEventListener('keydown', (e) => {
    if (e.key !== 'Escape') return;
    document.querySelectorAll('[module].is-open').forEach(wrapper => closeModule(wrapper));
  });
});
</script>
              </div>
              <div class="w-embed">
                <style>
.product-header_option {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.product-header_option.is-colour-swatch {
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 0.25rem;
}
  .product-header_option.is-colour-swatch {
  margin-bottom: 0;
}
  .product-header_option-list .w-embed {
  display: none;
}
.product-header_option-list {
  row-gap: 1rem;
}
  .is-colour-swatch a.is-active .product-header_radio-button {
  border: 1px solid black;
}
.product-header_option.is-colour-swatch .product-header_radio-list {
  margin-top: 0rem;
}
.product-header_option:not(.is-colour-swatch) .product-header_radio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0rem;
}
  .is-colour-swatch a.w--current .product-header_radio-button {
  border: 1px solid black;
}
@media (max-width: 767px) {
  .product-header_option.is-colour-swatch {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .product-header_option.is-colour-swatch > div:not(.product-header_radio-list) {
    font-size: 0.875rem;
  }
}
</style>
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-embed w-script"><!-- <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> -->
          <script> /*
function initSwipers() {
  $(".swiper-container").each(function () {
    const container = $(this);
    const mq = window.matchMedia("(max-width: 767px)");
    function createSwiper() {
      return new Swiper(container.find(".swiper.is-product-gallery")[0], {
        direction: "vertical",
        mousewheel: { forceToAxis: true },
        keyboard: { enabled: true, onlyInViewport: true },
        pagination: {
          el: container.find(".swiper-pagination")[0],
          clickable: true,
          direction: "vertical",
        },
        on: {
          reachEnd: () => document.body.style.overflow = "",
          fromEdge: () => document.body.style.overflow = "hidden",
        },
      });
    }
    container
      .on("mouseenter", () => { if (!mq.matches) document.body.style.overflow = "hidden"; })
      .on("mouseleave", () => { if (!mq.matches) document.body.style.overflow = ""; });
    let swiper = mq.matches ? null : createSwiper();
    mq.addEventListener("change", () => {
      if (mq.matches) {
        swiper.destroy(true, true);
        container.find(".swiper-pagination").empty();
        document.body.style.overflow = "";
        swiper = null;
      } else {
        swiper = createSwiper();
      }
    });
  });
}
document.addEventListener("DOMContentLoaded", initSwipers);
document.addEventListener("liquify:custom-rendered", initSwipers);
*/
document.addEventListener("DOMContentLoaded", () => {
  document.addEventListener("change", (e) => {
    const input = e.target.closest('[li-element="product-option-input"]');
    if (!input) return;
    const wrapper = input.closest('[li-render-custom="wrapper"]');
    if (!wrapper) return;
    const alpineData = Alpine.$data(wrapper.querySelector('[x-data]') || wrapper);
    const variantId = alpineData?.selected_or_first_available_variant?.id;
    if (!variantId) return;
    const target = wrapper.querySelector('[li-render-custom="target"]');
    if (!target) return;
    const sectionId = input.closest('form')?.querySelector('[name="section-id"]')?.value;
    const productUrl = window.location.pathname;
    fetch(`${productUrl}?section_id=${sectionId}&variant=${variantId}`)
      .then(r => r.text())
      .then(html => {
        const doc = new DOMParser().parseFromString(html, "text/html");
        const newTarget = doc.querySelector('[li-render-custom="target"]');
        if (newTarget) {
          target.innerHTML = newTarget.innerHTML;
          initGallery();
        }
      });
  });
});
</script>
        </div>
        <div class="w-embed w-script">
          <script>
(function(){
  var slot = function(){ 
    return document.querySelector('[data-drawer-slot]'); 
  };
  var sizeOpt = function(){ 
    return document.querySelector('[data-option="Size" i]'); 
  };
  var origParent = null, origNext = null;
  function open(){
    var opt = sizeOpt(), target = slot();
    if (!opt || !target) return;
    if (!origParent){
      origParent = opt.parentNode;
      origNext = opt.nextSibling;
    }
    target.appendChild(opt);
    document.body.setAttribute('data-drawer-open', 'size-picker');
  }
  function close(){
    var opt = sizeOpt();
    if (opt && origParent){
      origParent.insertBefore(opt, origNext);
    }
    origParent = null;
    origNext = null;
    document.body.removeAttribute('data-drawer-open');
  }
  function setChosen(v){
    if (v){
      document.body.setAttribute('data-size-chosen', 'true');
    } else {
      document.body.removeAttribute('data-size-chosen');
    }
  }
  document.addEventListener('click', function(e){
    // Tapping an already-checked radio doesn't fire change;
    // handle it here so the pre-selected first size still confirms.
    var label = e.target.closest('label');
    if (label){
      var input = label.querySelector(
        'input[type="radio"][li-element="product-option-input"]'
      );
      if (
        input &&
        input.checked &&
        input.closest('[data-option="Size" i]')
      ){
        setChosen(true);
        close();
      }
    }
    if (e.target.closest('[data-select-size]')){
      e.preventDefault();
      open();
      return;
    }
    if (
      e.target.closest('[data-drawer-close]') ||
      e.target.matches('[data-drawer-backdrop]')
    ){
      close();
    }
  });
  document.addEventListener('change', function(e){
    var input = e.target.closest('[li-element="product-option-input"]');
    if (!input) return;
    if (input.closest('[data-option="Size" i]')){
      setChosen(true);
      close();
    } else {
      close();
      setChosen(false);
    }
  });
  // Single-variant products: no gating needed
  document.addEventListener('alpine:initialized', function(){
    if (!sizeOpt()){
      setChosen(true);
    }
  });
})();
</script>
        </div>
        <div class="w-embed">
          <style>
.size-picker_subheader {
  padding: 1.5rem 1rem 0.5rem;
}
.size-picker_size-guide {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.06em;
  color: #000;
}
.button.is-secondary{
  justify-content: center;
}
@media screen and (max-width: 767px) {
	.size-picker_header > span { font-size: 0.875rem; }
  /* Hide the inline "Size:" label when portaled into the drawer */
  .size-picker_slot .product-header_option > div:first-child {
    display: none;
  }
  .size-picker_slot .product-header_option {
    display: block;
    padding: 0;
    margin: 0;
  }
  /* Stack radios vertically as full-width rows */
  .size-picker_slot .product-header_radio-list {
    display: block;
    flex-direction: unset;
    gap: 0;
    margin: 0;
  }
  .size-picker_slot .product-header_radio {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    border-top: 1px solid #eee;
    cursor: pointer;
  }
  .size-picker_slot .product-header_radio:last-child {
    border-bottom: 1px solid #eee;
  }
  /* Hide the visual radio dot */
  .size-picker_slot .product-header_radio-button {
    display: none;
  }
  /* Size label as muted text on the left */
  .size-picker_slot .product-header_radio .w-form-label {
    display: block;
    margin-left: 1rem;
    font-size: 0.875rem;
    color: black;
    padding: 0;
  }
  /* Sold-out: dim further (uses input.data-disabled set by Liquify) */
  .size-picker_slot .product-header_radio:has(input.data-disabled) .w-form-label {
    color: #d6d6d6;
  }
}
</style>
          <style>
  /* Empty badge stays hidden everywhere by default */
  .product-header_status-badge {
    display: none;
  }
  @media screen and (max-width: 767px) {
    /* Show the sold-out badge inside the size-picker drawer (mobile only) */
    .size-picker_slot .product-header_status-badge.is-sold-out {
      display: inline-block;
      margin-right: 1rem;
      color: #b04848;
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: 0.02em;
    }
    /* Override the existing block layout so the row becomes a flex row.
       Two-class selector for higher specificity than the existing rule. */
    .size-picker_slot .product-header_radio.w-radio {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    /* Webflow's .w-radio injects ::before/::after clearfix pseudo-elements with
       display: table &mdash; as flex items they take up space and push the label
       toward the centre. Suppress them inside the picker. */
    .size-picker_slot .product-header_radio.w-radio::before,
    .size-picker_slot .product-header_radio.w-radio::after {
      display: none;
    }
  }
</style>
        </div>
        <div class="w-embed w-script">
          <script>
  (function () {
    var TAG = '[notify-me-auto]';
    if (window.__notifyMeAutoBound) {
      console.log(TAG, 'already bound, skipping');
      return;
    }
    window.__notifyMeAutoBound = true;
    console.log(TAG, 'init &mdash; binding change+click on document');
    function getVariantInfo(input) {
      var info = { value: input.getAttribute('value'), name: input.getAttribute('name') || input.getAttribute('data-name') || '', disabled: input.classList.contains('data-disabled') };
      try {
        var form = document.querySelector('[li-form="product"]') || document.querySelector('[x-data]');
        var data = window.Alpine && form ? window.Alpine.$data(form) : null;
        info.selectedVariant = data && data.selected_or_first_available_variant;
        info.firstOptionMap = data && data.firstOptionHasAvailableChildren;
      } catch (err) {
        info.alpineError = String(err);
      }
      return info;
    }
    function maybeTrigger(input, evtType) {
      var inSizePicker = !!input.closest('.size-picker_wrapper, .size-picker_panel, .size-picker_slot');
      var optName = (input.getAttribute('name') || input.getAttribute('data-name') || '').toLowerCase();
      var disabled = input.classList.contains('data-disabled');
      console.log(TAG, evtType + ' on input', { value: input.getAttribute('value'), option: optName, inSizePicker: inSizePicker, disabled: disabled });
      if (!inSizePicker) {
        console.log(TAG, 'skip &mdash; not from size picker');
        return;
      }
      if (optName !== 'size') {
        console.log(TAG, 'skip &mdash; option is not "size"');
        return;
      }
      if (!disabled) {
        console.log(TAG, 'skip &mdash; variant is available');
        return;
      }
      console.log(TAG, 'sold-out size selected &rarr; triggering Notify flow');
      setTimeout(function () {
        try {
          var info = getVariantInfo(input);
          console.log(TAG, 'variant snapshot:', info);
          var closeBtn = document.querySelector('.size-picker_wrapper [data-drawer-close]');
          console.log(TAG, 'drawer close button:', closeBtn);
          if (closeBtn) closeBtn.click();
          setTimeout(function () {
            var btn = document.querySelector('[li-element="add-to-cart"]');
            console.log(TAG, 'add-to-cart button element:', btn);
            if (btn) {
              console.log(TAG, 'button text:', btn.textContent.trim(), 'classes:', btn.className);
              btn.click();
              console.log(TAG, 'clicked add-to-cart (now Notify Me)');
            } else {
              console.warn(TAG, 'no add-to-cart button found');
            }
          }, 300);
        } catch (err) {
          console.error(TAG, 'error during trigger:', err);
        }
      }, 100);
    }
    function handler(evtType) {
      return function (e) {
        var input = e.target && e.target.closest && e.target.closest('[li-element="product-option-input"]');
        if (!input) {
          var lbl = e.target && e.target.closest && e.target.closest('label.product-header_radio');
          if (lbl) input = lbl.querySelector('[li-element="product-option-input"]');
        }
        if (!input) return;
        maybeTrigger(input, evtType);
      };
    }
    document.addEventListener('change', handler('change'), true);
    document.addEventListener('click', handler('click'), true);
  })();
</script>
        </div>
        <div class="w-embed">
          <style>
.slide-out_module-title-heading {
  display: none;
}
@media screen and (min-width: 992px) {
  .module_slide-out .slide-out_wrapper {
    position: relative;
  }
  .slide-out_module-title-heading {
    display: block;
    width: 100%;
    font-family: 'Big Caslon', 'Big Caslon Medium', Georgia, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #000000;
  }
}
</style>
        </div>
        <div class="w-embed w-script">
          <script>
(function () {
  if (window.matchMedia('(min-width: 768px)').matches) return;
  function init() {
    if (typeof gsap === 'undefined' || typeof ScrollTrigger === 'undefined') {
      setTimeout(init, 100);
      return;
    }
    // Tell ScrollTrigger to ignore small viewport height changes (URL bar show/hide)
    // This prevents ScrollTrigger.refresh() from firing on every scroll on iOS
    ScrollTrigger.config({ ignoreMobileResize: true });
    ScrollTrigger.getAll()
      .filter(st => st.vars.id && st.vars.id.includes('t-39e5f268'))
      .forEach(st => st.kill());
    const gallery   = document.querySelector('.swiper-container.is-product-gallery');
    const hideEls   = Array.from(document.querySelectorAll('.overflow-hidden.is-start'));
    const revealEls = Array.from(document.querySelectorAll('.overflow-hidden.is-end'));
    if (!gallery || (!hideEls.length && !revealEls.length)) return;
    [...hideEls, ...revealEls].forEach(el => {
      el.style.display    = 'block';
      el.style.transition = 'none';
    });
    function naturalH(el) {
      const prev = el.getAttribute('style');
      el.style.display       = 'block';
      el.style.height        = 'auto';
      el.style.overflow      = 'visible';
      el.style.paddingTop    = '0.5rem';
      el.style.paddingBottom = '0.5rem';
      const h = Math.ceil(el.getBoundingClientRect().height);
      if (prev !== null) el.setAttribute('style', prev);
      else el.removeAttribute('style');
      return h;
    }
    function naturalHHide(el) {
      const prev = el.getAttribute('style');
      el.style.display  = 'block';
      el.style.height   = 'auto';
      el.style.overflow = 'visible';
      const h = Math.ceil(el.getBoundingClientRect().height);
      if (prev !== null) el.setAttribute('style', prev);
      else el.removeAttribute('style');
      return h;
    }
    const hideH   = hideEls.map(naturalHHide);
    const revealH = revealEls.map(naturalH);
    gsap.set(hideEls,   { overflow: 'hidden', height: (i) => hideH[i],   opacity: 1 });
    gsap.set(revealEls, { overflow: 'hidden', height: 0, opacity: 0,
                          paddingTop: '0.1rem', paddingBottom: '0.1rem' });
    const DUR  = 0.45;
    const EASE = 'power2.inOut';
    ScrollTrigger.create({
      trigger: gallery,
      start:   'bottom+=300 bottom',
      end:     'bottom top',
      // &darr; REMOVED: fastScrollEnd (unreliable velocity detection on iOS)
      // &darr; REMOVED: preventOverlaps (overwrite:'auto' already handles conflicts)
      onEnter() {
        gsap.to(hideEls, {
          overwrite: 'auto',
          height: 0, opacity: 0,
          duration: DUR, ease: EASE,
        });
        gsap.to(revealEls, {
          overwrite: 'auto',
          height:        (i) => revealH[i],
          opacity:       1,
          paddingTop:    '0.5rem',
          paddingBottom: '0.5rem',
          duration: DUR, ease: EASE,
        });
      },
      onLeaveBack() {
        gsap.to(hideEls, {
          overwrite: 'auto',
          height: (i) => hideH[i], opacity: 1,
          duration: DUR, ease: EASE,
        });
        gsap.to(revealEls, {
          overwrite: 'auto',
          height: 0, opacity: 0,
          paddingTop:    '0.1rem',
          paddingBottom: '0.1rem',
          duration: DUR, ease: EASE,
        });
      },
    });
    // Only re-measure on true orientation changes, not URL bar show/hide
    // ignoreMobileResize above handles the filtering &mdash; this fires only for real resizes
    window.addEventListener('orientationchange', () => {
      setTimeout(() => {
        // Wait for the new orientation layout to settle before re-measuring
        hideEls.forEach((el, i)   => { hideH[i]   = naturalHHide(el); });
        revealEls.forEach((el, i) => { revealH[i] = naturalH(el); });
        ScrollTrigger.refresh();
      }, 200);
    }, { passive: true });
  }
  document.addEventListener('DOMContentLoaded', init);
  document.addEventListener('shopify:section:load', init);
})();
</script>
        </div> {% schema %} {
    "tag": "section",
    "name": "Product Hero",
    "class": "section_product-header",
    "presets": [
        {
            "name": "Product Hero",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "product"
        ]
    }
} {% endschema %}