<div module="{{section.settings.text_module}}" class="slide-out_wrapper">
          <div class="slide-out_mobile-header mobile-nav-links_account-layout show-tablet">
            <p data-slideout-title="true" class="cart-header">
{{ section.settings.text_module_title }}
</p>
            <div role="button" aria-label="Close" class="slide-out_close-button show-tablet">
              <div class="w-embed"><svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.447266 0.472656L9.38727 8.94891" stroke="black" stroke-width="1.3"></path>
                  <path d="M9.38727 0.472656L0.447266 8.94891" stroke="black" stroke-width="1.3"></path>
                </svg></div>
            </div>
          </div>
          <div class="slide-out_layout">
            <div li-content-for-blocks="" id="w-node-ad0ba730-ff0e-ab22-2791-cab0b0fa1ab8-7db6215a" class="dropdown-width">
{% for block in section.blocks %}
{% case block.type %}
{% when '@app' %}
{% render block %}

              {% when 'dropdown' %}
            <div li-block="dropdown" class="dropdown_wrapper">
                    
                
                    <a href="#" class="dropdown_toggle w-inline-block">
                  <h2 class="dropdown_title">
{{ block.settings.text_heading }}
</h2>
                  <div class="dropdown_icon">
                    <div class="dropdown_icon-inner is-top"></div>
                    <div class="dropdown_icon-inner is-bottom"></div>
                  </div>
                </a>
                    
                
                    <div class="dropdown_list-wrapper is-open">
                  <div class="dropdown_list w-richtext"> {{ block.settings.richtext_content }} </div>
                </div>
                    
                
                    <div class="hide w-embed w-script">
                  <script>
  (function () {
    const script = document.currentScript;
    const root = script ? script.closest('.dropdown_wrapper') : null;
    if (!root) return;
    const toggle = root.querySelector('.dropdown_toggle');
    const list = root.querySelector('.dropdown_list-wrapper');
    const iconInner = root.querySelector('.dropdown_icon-inner.is-top');
    if (!toggle || !list || !iconInner) return;
    const isWebflowEditor =
      window.Webflow &&
      typeof window.Webflow.env === 'function' &&
      window.Webflow.env('editor');
    if (!isWebflowEditor) {
      list.classList.remove('is-open');
    }
    toggle.addEventListener('click', () => {
      list.classList.toggle('is-open');
      iconInner.classList.toggle('is-open');
    });
  })();
</script>
                </div>
                    
              
                </div>
            {% endcase %}
{% endfor %}

    </div>
          </div>
          <a href="#" class="slide-out_close-button hide-tablet w-inline-block">
            <div>Close</div>
          </a>
        </div>
        <div class="module_background-blur"></div>
        <div class="hide">
{{ section.settings.text_module }}
</div> {% schema %} {
    "tag": "div",
    "name": "Slide Out Module",
    "class": "module_slide-out",
    "blocks": [
        {
            "name": "dropdown",
            "type": "dropdown",
            "settings": [
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Description"
                },
                {
                    "id": "richtext_content",
                    "type": "richtext",
                    "label": "Content",
                    "default": "<p>In tempor rutrum elit, nec mattis est fringilla in. Mauris ligula eros, dignissim vitae dui eget, malesuada fringilla eros. Pellentesque habitant morbi tristique. \u200d Product description here 100% material composition Colour: here Washing instructions go here Made in Country Loose fit Model is 189cm\/6'2 and is wearing a size M Styled by Vera<\/p>"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "settings": [
        {
            "id": "text_module_title",
            "type": "text",
            "label": "Module Title",
            "default": "Module Title"
        },
        {
            "id": "text_module",
            "type": "text",
            "label": "module",
            "default": "Lorem Ipsum"
        }
    ],
    "presets": [
        {
            "name": "Slide Out Module",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "dropdown"
                }
            ]
        }
    ]
} {% endschema %}